body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #190e30; /* Fondo negro */
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  touch-action: manipulation; /* Limita gestos de zoom */
  user-select: none;
}

table {
  border-collapse: collapse;
}

h1 {
  margin-bottom: 20px;
  color: #ffffff; /* Título en blanco */
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #1f1f1f; /* Ajuste del fondo de la tabla para que combine mejor */
}

tr {
  border-radius: 5px;
}

  td {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgba(208, 142, 227, 0.235);
    box-shadow: inset -3px -3px 5px rgba(6, 6, 6, 0.7);
    border: 3px solid #1f1f1f;
    aspect-ratio: 1 / 1;
    transition: width 0.3s ease, height 0.3s ease; /* Transición suave cuando el tamaño cambia */
    padding: 5px;
  }

a {
  text-decoration: none;
}

.resolver {
  height: 60px;
  width: 240px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  font-family: inherit; /* Asegúrate de que herede la fuente */
  font-size: inherit;   /* Hereda el tamaño de la fuente */
  align-items: center;
  color: #e8eaee;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;      /* Añadido para hacer clic en el <label> */
  text-align: center;   /* Asegura que el texto esté centrado */
}

label.resolver {
  background-color: #f00;  /* Color de fondo del <label> */
  line-height: 60px;       /* Para alinear verticalmente el texto */
  padding: 0;              /* Asegura que no tenga padding adicional */
  display: flex;           /* Para que se alinee igual que los botones */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 columnas */
  gap: 10px; /* Espacio entre los botones */
  justify-items: center;
  max-width: 10000px; /* Ajusta según necesidad */
  padding: 5px;
}

.resolver.azulito:hover {
  background: linear-gradient(145deg, #5800d4, #9b00fb);
  box-shadow: inset -3px -3px 10px rgb(85, 1, 133), inset 2px 2px 10px rgba(90, 120, 255, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.resolver.azulito:active {
  background-color: #0036a3;
}
.resolver.rojito:hover {
  background: linear-gradient(145deg, #d3d705, #fbff06);
  box-shadow: inset -3px -3px 10px rgb(255, 242, 0), inset 2px 2px 10px rgba(248, 112, 112, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
  color: #000000;
}
.resolver.rojito:active {
  background: #ef0606;
  box-shadow: inset 6px 6px 12px #aa0404, inset -6px -6px 12px #ff0808;
}
.resolver.inicio {
  width: 120px;
  height: 40px;
}
.resolver.inicio:hover {
  background: linear-gradient(145deg, #d70505, #ff0606);
  box-shadow: inset -3px -3px 10px rgb(117, 2, 2), inset 2px 2px 10px rgba(248, 112, 112, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.resolver.evaluar {
  width: 120px;
  height: 40px;
}
.resolver.evaluar:hover {
  background: linear-gradient(145deg, #5800d4, #9b00fb);
  box-shadow: inset -3px -3px 10px rgb(85, 1, 133), inset 2px 2px 10px rgba(90, 120, 255, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.azulito, .rojito, .inicio, .evaluar {
  background: linear-gradient(145deg, #3a3a3a, #5a5a5a); /* Ajuste de fondo más oscuro */
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7), -6px -6px 12px rgba(255, 255, 255, 0.2), inset -3px -3px 10px rgba(0, 0, 0, 0.5);
}

.red {
  color: #ffffff;
  background: linear-gradient(145deg, #ffff00, #ff9306);
  box-shadow: inset -3px -3px 10px rgb(255, 140, 0), inset 2px 2px 10px rgba(248, 112, 112, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
}

.blue {
  color: #ffffff;
  background: linear-gradient(145deg, #4C1F8C, #511E94);
  box-shadow: inset -3px -3px 10px rgb(85, 1, 133), inset 2px 2px 10px rgba(178, 90, 255, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
}

.botones {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.botones button {
  margin: 0 15px;
}

.locked {
  pointer-events: none; /* Prevent clicking */
}

.blue.blocked {
  color: #ffffff;
  background: linear-gradient(145deg, #200070, #0053fb);
  box-shadow: inset -3px -3px 10px rgb(1, 14, 128), inset 2px 2px 10px rgba(90, 120, 255, 0.993);
}
.red.blocked {
  color: #ffffff;
  background: linear-gradient(145deg, #620101, #fd1d1d);
  box-shadow: inset -3px -3px 10px rgb(117, 2, 2), inset 2px 2px 10px rgba(248, 112, 112, 0.993);
}
.red.blocked::before, .blue.blocked::before {
  content: "";
  position: absolute;
  background-image: url('https://openclipart.org/image/800px/184625'); /* Imagen del candado */
  background-size: cover;
  filter: invert(1);
  opacity: 0.1;
}

.lock-size-40 .red.blocked::before,
.lock-size-40 .blue.blocked::before {
width: 90px;
height: 83px;
top: 15px; /* Ajusta la posición vertical para centrar la imagen */
right: 9px; /* Ajusta la posición horizontal */
}

.lock-size-35 .red.blocked::before,
.lock-size-35 .blue.blocked::before {
width: 75px;
height: 70px;
top: 10px; /* Ajusta la posición vertical para centrar la imagen */
right: 9px; /* Ajusta la posición horizontal */
}

.lock-size-30 .red.blocked::before,
.lock-size-30 .blue.blocked::before {
width: 60px;
height: 55px;
top: 8px; /* Ajusta la posición vertical para centrar la imagen */
right: 7px; /* Ajusta la posición horizontal */
}

.lock-size-25 .red.blocked::before,
.lock-size-25 .blue.blocked::before {
width: 50px;
height: 46px;
top: 7px; /* Ajusta la posición vertical para centrar la imagen */
right: 5px; /* Ajusta la posición horizontal */
}

.red.blocked,
.blue.blocked {
  position: relative; /* Necesario para posicionar el ::before dentro del elemento */
}

#algorithm-description {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Rubik', sans-serif;
}

#algorithm-description h2 {
  color: #333;
}

#algorithm-description p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

@media (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr); /* 5 columnas */
    gap: 10px; /* Espacio entre los botones */
    justify-items: center;
    max-width: 1000px; /* Ajusta según necesidad */
    padding: 5px;
  }
  .resolver.azulito:hover {
    background: linear-gradient(145deg, #5800d4, #9b00fb);
    box-shadow: inset -3px -3px 10px rgb(85, 1, 133), inset 2px 2px 10px rgba(90, 120, 255, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
    color: #ffffff;
  }
  .resolver.azulito:active {
    background-color: #0036a3;
  }
  .resolver.rojito:hover {
    background: linear-gradient(145deg, #d3d705, #fbff06);
    box-shadow: inset -3px -3px 10px rgb(255, 242, 0), inset 2px 2px 10px rgba(248, 112, 112, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
    color: #000000;
  }
  .resolver.rojito:active {
    background: #ef0606;
    box-shadow: inset 6px 6px 12px #aa0404, inset -6px -6px 12px #ff0808;
  }
  .resolver.inicio {
    width: 120px;
    height: 40px;
  }
  .resolver.inicio:hover {
    background: linear-gradient(145deg, #d70505, #ff0606);
    box-shadow: inset -3px -3px 10px rgb(117, 2, 2), inset 2px 2px 10px rgba(248, 112, 112, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
    color: #ffffff;
  }
  .resolver.evaluar {
    width: 120px;
    height: 40px;
  }
  .resolver.evaluar:hover {
    background: linear-gradient(145deg, #5800d4, #9b00fb);
    box-shadow: inset -3px -3px 10px rgb(85, 1, 133), inset 2px 2px 10px rgba(90, 120, 255, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
    color: #ffffff;
  }
  
  .azulito, .rojito, .inicio, .evaluar {
    background: linear-gradient(145deg, #3a3a3a, #5a5a5a); /* Ajuste de fondo más oscuro */
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7), -6px -6px 12px rgba(255, 255, 255, 0.2), inset -3px -3px 10px rgba(0, 0, 0, 0.5);
  }
  
  .red {
    color: #ffffff;
    background: linear-gradient(145deg, #ffff00, #ff9306);
    box-shadow: inset -3px -3px 10px rgb(255, 140, 0), inset 2px 2px 10px rgba(248, 112, 112, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
  }
  
  .blue {
    color: #ffffff;
    background: linear-gradient(145deg, #4C1F8C, #511E94);
    box-shadow: inset -3px -3px 10px rgb(85, 1, 133), inset 2px 2px 10px rgba(178, 90, 255, 0.993), 6px 6px 12px rgba(0, 0, 0, 0.7);
  }
  
  .botones {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }
  .botones button {
    margin: 0 12px;
  }
}