<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, minimum-scale=0.6">
    <title>0h h1</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="countdown-overlay">
        <label style="font-size: 50px; font-weight: bold; margin-right: 10px; color: #f9f9f9">Elegir tamaño de matriz</label>
        <div style="text-align:center;" class="botones">
            <button onclick="setBoardSize(4)" class="resolver azulito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">4 x 4</button>
            <button onclick="setBoardSize(6)" class="resolver rojito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">6 x 6</button>
        </div>
        <div style="text-align:center;" class="botones">
            <button onclick="setBoardSize(8)" class="resolver rojito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">8 x 8</button>
            <button onclick="setBoardSize(10)" class="resolver azulito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">10 x 10</button>
        </div>
    </div>
    <div style="text-align:center;">
        <h1 id="title" style="font-size: 60px; font-weight: bold;">Tablero aleatorio</h1>
    </div>
    <div style="text-align:center;">
        <h1 id="title_part" style="font-size: 30px; font-weight: bold; height: 40px;"></h1>
    </div>
    <div style="text-align:center; margin-bottom: 8px;">
    </div>
    <!-- Cronómetro -->
    <div style="text-align:center; margin: 20px;">
        <h1 id="timer" style="font-size: 25px; font-weight: bold;">00:00.00</h1>
    </div>
    <table id="matrix">
        <!-- JavaScript will generate the table here -->
    </table>
    <div class="botones">
        <button data-url="/menu" class="resolver azulito" style="width: 75px;">
            <img id="home" src="{{ url_for('static', filename='images/home.png') }}" style="height: 37px;filter: brightness(0) invert(1);" alt="Inicio">
        </button>
        <button onclick="reset()" class="resolver azulito" style="width: 75px;">
            <img id="reload" src="{{ url_for('static', filename='images/reload.png') }}" style="height: 32px; filter: invert(1);" alt="Inicio">
        </button>
    </div>
    <audio id="sonido-boton" src="{{ url_for('static', filename='sounds/click.mp3') }}" preload="auto"></audio>
    <audio id="musica" preload="auto"></audio>
    <script>
        const musica = document.getElementById("musica");
        const home = document.getElementById("home");
        const reload = document.getElementById("reload");

        document.addEventListener("DOMContentLoaded", function() {
            const sonido = document.getElementById("sonido-boton");
            sonido.load();
            const savedTheme = localStorage.getItem("theme");
            const numero = Math.floor(Math.random() * 10) + 1;
            musica.src = `/static/sounds/game_music_${numero}.mp3`;
            musica.loop = true;
            musica.volume = 0; // Ajusta el volumen de la música
            musica.play();
            if (savedTheme) {
                document.body.classList.remove("light-theme", "dark-theme");
                document.body.classList.add(savedTheme);
            }
            if (savedTheme === "light-theme") {
                reload.style.filter = "invert(0)";
                home.style.filter = "brightness(0)";
                color0 = "rojas";
                color1 = "azules";
                border = "rgb(0,0,0)"
            } else if (savedTheme === "dark-theme"){
                color0 = "amarillas";
                color1 = "azules";
                border = "rgb(255,255,255)"
            } else {
                color0 = "amarillas";
                color1 = "moradas";
                border = "rgb(255,255,255)"
            }
            let paso = 0;
                const fade = setInterval(() => {
                    paso++;

                    musica.volume = Math.min(0.36, paso * 0.02);     // fade out

                    if (paso >= 20) {
                        clearInterval(fade);
                    }
                }, 100);
            document.querySelectorAll(".resolver").forEach(boton => {
                boton.addEventListener("click", function (e) {
                    e.preventDefault(); // Detiene redirección inmediata
                    let url = this.getAttribute("data-url");

                    if (url === "/menu") {
                        url = `/menu?userID=${localStorage.getItem('userId')}`;
                    }
                    sonido.currentTime = 0;
                    sonido.volume = 0.2; // Ajustar el volumen del sonido del botón
                    sonido.play();
                    if (!url) return;

                    setTimeout(() => {
                        window.location.href = url;
                    }, 100); // Ajusta si el sonido es más largo
                });
            });
        });

        document.getElementById("title_part").textContent = '';
        let gamefinished = false;
        let matrixSize = 4; // Tamaño de la matriz
        let matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
        
        // Variables para el cronómetro
        let timerInterval;
        let centisecondsElapsed = 0;

    
        function startTimer() {
            clearInterval(timerInterval); // Reiniciar el cronómetro si ya estaba en marcha
            centisecondsElapsed = 0;
            updateTimerDisplay();

            timerInterval = setInterval(() => {
                centisecondsElapsed++; // Incrementar en 10 ms
                updateTimerDisplay();
            }, 10); // Actualizar cada 10 ms (centésima de segundo)
        }

        function stopTimer() {
            clearInterval(timerInterval);
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const centiseconds = (centisecondsElapsed % 100).toString().padStart(2, '0').replace(/^0/, ''); // Remover ceros iniciales
            return { minutes, seconds, centiseconds, totalCentiseconds: centisecondsElapsed };
}

        function updateTimerDisplay() {
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const milliseconds = (centisecondsElapsed % 100).toString().padStart(2, '0');
            document.getElementById("timer").textContent = `${minutes}:${seconds}.${milliseconds}`;
        }
        function adjustLockSize() {
            const lockSizeClass = matrixSize <= 4 ? 'lock-size-40' :
                                matrixSize <= 6 ? 'lock-size-35' :
                                matrixSize <= 8 ? 'lock-size-30' : 'lock-size-25';

            // Remover cualquier clase de tamaño de candado previo
            document.body.classList.remove('lock-size-40', 'lock-size-35', 'lock-size-30', 'lock-size-25');

            // Añadir la nueva clase según el tamaño
            document.body.classList.add(lockSizeClass);
        }
        
        function reset(){
            let overlay = document.getElementById('countdown-overlay');
            overlay.style.display = "flex"; // Mostrar el overlay
            overlay.innerHTML = '<h1 id="countdown" style="font-size: 120px; color: #ffffff;"></h1>';
            document.getElementById("timer").textContent = `00:00.00`;
            let initial = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
            createTable(initial);
            const cells = document.querySelectorAll("#matrix td");
            cells.forEach(cell => {
                cell.style.removeProperty("outline");
                cell.style.removeProperty("outline-offset");
            });
            gamefinished = false;
            document.getElementById("title_part").textContent = '';
            startGame(); // Reiniciar el juego
        }

        function adjustCellSize() {
            const cellSize = matrixSize <= 4 ? 100 :
                            matrixSize <= 6 ? 80 :
                            matrixSize <= 8 ? 60 : 50;
            const cellRadius = matrixSize <= 4 ? 25 :
                               matrixSize <= 6 ? 20 :
                               matrixSize <= 8 ? 15 : 10;
            stopTimer();
            const cells = document.querySelectorAll('td');
            cells.forEach(cell => {
                cell.style.width = `${cellSize}px`;
                cell.style.height = `${cellSize}px`;
                cell.style.borderRadius = `${cellRadius}px`
            });

            adjustLockSize(); // Llamar para ajustar el tamaño del candado
        }

        function createTable() {
            const table = document.getElementById('matrix');
            table.innerHTML = ''; // Limpiar contenido de la tabla existente
            for (let i = 0; i < matrixSize; i++) {
                const row = document.createElement('tr');
                for (let j = 0; j < matrixSize; j++) {
                    const cell = document.createElement('td');
                    cell.className = 'grey';
                    cell.onclick = () => toggleColor(i, j, cell);
                    row.appendChild(cell);
                }
                table.appendChild(row);
            }
            adjustCellSize(); // Ajustar tamaño de las celdas y candados después de crear la tabla
        }

        function toggleColor(row, col, cell) {
            const cells = document.querySelectorAll("#matrix td");
            cells.forEach(cell => {
                cell.style.removeProperty("outline");
                cell.style.removeProperty("outline-offset");
            });
            if (cell.classList.contains('blocked')) {
                return; // Do nothing if the cell is blocked
            }
            if (cell.className === 'grey') {
                cell.className = 'red';
                matrix[row][col] = 0;
            } else if (cell.className === 'red') {
                cell.className = 'blue';
                matrix[row][col] = 1;
            } else {
                cell.className = 'grey';
                matrix[row][col] = -1;
            }
            setTimeout(() => {
                if (all(matrix)) {
                    evaluateMatrix();
                }
                else{
                    document.getElementById("title_part").textContent = "";
                }
                }, 500);
        }

        function startGame() {
            fetch('/play/matrix', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ matrix: matrixSize }),
            })
            .then(response => response.json())
            .then(data => {
                const gameMatrix = data.matrix;
                const table = document.getElementById('matrix');
                matrix = gameMatrix.map(row => [...row]);

                for (let i = 0; i < gameMatrix.length; i++) {
                    for (let j = 0; j < gameMatrix[i].length; j++) {
                        const cell = table.rows[i].cells[j];
                        cell.className = gameMatrix[i][j] === 0 ? 'red blocked' :
                                        gameMatrix[i][j] === 1 ? 'blue blocked' :
                                        'grey';
                    }
                }
                let overlay = document.getElementById('countdown-overlay');
                let count = 1;
                const countdownElement = document.getElementById("countdown");
                countdownElement.textContent = "¡Adelante!";

                const countdownInterval = setInterval(() => {
                    count--;
                    if (count <= 0) {
                        clearInterval(countdownInterval);
                        overlay.style.display = "none"; // Ocultar overlay al terminar
                        startTimer(); // Iniciar el cronómetro después de la cuenta regresiva
                    }
                }, 800);
            });
        }

        function setBoardSize(size) {
            let overlay = document.getElementById('countdown-overlay');
            overlay.innerHTML = '<h1 id="countdown" style="font-size: 120px; color: #ffffff;"></h1>';
            document.getElementById("title").textContent = `Tablero ${size}x${size}`;
            matrixSize = size; // Asigna el tamaño seleccionado
            let initial = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
            createTable(initial);
            startGame(); // Inicia la cuenta regresiva
        }

        function evaluateMatrix() {
            if (gamefinished) return;

            if (rules_final(matrix)) {
                gamefinished = true;
                stopTimer();
                let tiempo = stopTimer(); // Detener el cronómetro si el jugador gana
                document.getElementById("title_part").textContent = "¡Felicidades, has ganado!";
                let paso = 0;
                const fade = setInterval(() => {
                    paso++;

                    musica.volume = Math.max(0, 0.36 - paso * 0.02);     // fade out

                    if (paso >= 20) {
                        clearInterval(fade);
                        
                    }
                }, 100);
                fetch('/leaderboard/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        score: tiempo.totalCentiseconds,
                        userID: localStorage.getItem('userId'),
                        game: '0hh1',
                        n: matrixSize
                    })
                }).then(response => response.json())
                .then(data => {
                    if (data.better) {
                        window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&better=si&board=${data.board}`;
                    } else {
                        window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&score=${data.score}&board=${data.board}`;
                    }
                });
            }
        }

        function rules_final(matrix) {
            const table = document.getElementById('matrix');
            const n = matrix.length;
            const matrixt = matrix[0].map((_, colIndex) => matrix.map(row => row[colIndex]));
            let control = true;
            if (all(matrix)) {
                for (let i = 0; i < n; i++) {
                    for (let j = 0; j < n - 2; j++) {
                        if (matrix[i][j] === matrix[i][j + 1] && matrix[i][j] === matrix[i][j + 2]) {
                            document.getElementById("title_part").textContent = matrix[i][j] == 0? `Hay 3 ${color0} seguidos` : `Hay 3 ${color1} seguidos`;
                            for (let k = 0; k < 3; k++) {
                                table.rows[i].cells[j+k].style.outline = `5px solid ${border}`;
                                table.rows[i].cells[j+k].style.outlineOffset = "-5px";   
                            }
                            control = false;
                            return control;
                        }
                        if (matrix[j][i] === matrix[j + 1][i] && matrix[j][i] === matrix[j + 2][i]) {
                            document.getElementById("title_part").textContent = matrix[j][i] == 0? `Hay 3 ${color0} seguidos` : `Hay 3 ${color1} seguidos`;
                            for (let k = 0; k < 3; k++) {
                                table.rows[j+k].cells[i].style.outline = `5px solid ${border}`;
                                table.rows[j+k].cells[i].style.outlineOffset = "-5px";   
                            }
                            control = false;
                            return control;
                        }
                    }
                }
                for (let i = 0; i < n; i++) {
                    if (sum(matrix[i]) < (n) / 2) {
                        document.getElementById("title_part").textContent = `Hay más ${color0} que ${color1}`;
                        for (let j = 0; j < n; j++) {
                            table.rows[i].cells[j].style.outline = `5px solid ${border}`;
                            table.rows[i].cells[j].style.outlineOffset = "-5px";
                        }
                        control = false;
                        return control;
                    }
                    if (sum(matrix[i]) > (n) / 2) {
                        document.getElementById("title_part").textContent = `Hay más ${color1} que ${color0}`;
                        for (let j = 0; j < n; j++) {
                            table.rows[i].cells[j].style.outline = `5px solid ${border}`;
                            table.rows[i].cells[j].style.outlineOffset = "-5px";
                        }
                        control = false;
                        return control;
                    }
                }
                for (let i = 0; i < n; i++) {
                    if (sum(matrixt[i]) < (n) / 2) {
                        document.getElementById("title_part").textContent = `Hay más ${color0} que ${color1}`;
                        for (let j = 0; j < n; j++) {
                            table.rows[j].cells[i].style.outline = `5px solid ${border}`;
                            table.rows[j].cells[i].style.outlineOffset = "-5px";
                        }
                        control = false;
                        return control;
                    }
                    if (sum(matrixt[i]) > (n) / 2) {
                        document.getElementById("title_part").textContent = `Hay más ${color1} que ${color0}`;
                        for (let j = 0; j < n; j++) {
                            table.rows[j].cells[i].style.outline = `5px solid ${border}`;
                            table.rows[j].cells[i].style.outlineOffset = "-5px";
                        }
                        control = false;
                        return control;
                    }
                }
                for (let i = 0; i < n; i++) {
                    for (let j = i + 1; j < n; j++) {
                        if (arraysEqual(matrix[i], matrix[j])) {
                            document.getElementById("title_part").textContent = `Hay dos filas iguales`;
                            for (let k = 0; k < n; k++) {
                                table.rows[i].cells[k].style.outline = `5px solid ${border}`;
                                table.rows[i].cells[k].style.outlineOffset = "-5px";
                                table.rows[j].cells[k].style.outline = `5px solid ${border}`;
                                table.rows[j].cells[k].style.outlineOffset = "-5px";
                            }
                            control = false;
                            return control;
                        }
                        if (arraysEqual(matrixt[i], matrixt[j])) {
                            document.getElementById("title_part").textContent = `Hay dos columnas iguales`;
                            for (let k = 0; k < n; k++) {
                                table.rows[k].cells[i].style.outline = `5px solid ${border}`;
                                table.rows[k].cells[i].style.outlineOffset = "-5px";
                                table.rows[k].cells[j].style.outline = `5px solid ${border}`;
                                table.rows[k].cells[j].style.outlineOffset = "-5px";
                            }
                            control = false;
                            return control;
                        }
                    }
                }
                return control;
            }
            return false;
        }

        function all(matrix) {
            return matrix.every(row => row.every(cell => cell !== -1));
        }

        function sum(array) {
            return array.reduce((a, b) => a + b, 0);
        }

        function arraysEqual(a, b) {
            return JSON.stringify(a) === JSON.stringify(b);
        }
        createTable();
    </script>
</body>
</html>
