<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, minimum-scale=0.6">
    <title>Colores Cruzados</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="countdown-overlay">
        <h1 id="countdown" style="font-size: 40px;color: #ffffff;"></h1>
    </div>
    <div style="text-align:center;">
        <h1 id="title" style="font-size: 60px; font-weight: bold;">Colores</h1>
    </div>
    <div style="text-align:center;">
        <h1 id="title_part" style="font-size: 30px; font-weight: bold; height: 32px;"></h1>
    </div>
    <div style="text-align:center; margin-bottom: 8px;">
    </div>
    <!-- Cronómetro -->
    <div style="text-align:center; margin: 20px;">
        <h1 id="timer" style="font-size: 24px; font-weight: bold;">01:10.00</h1>
    </div>
    <table id="matrix">
        <!-- JavaScript will generate the table here -->
    </table>
    <div style="text-align:center; margin: 30px;">
    <table id="inputs">
        <!-- JavaScript will generate the inputs table here -->
    </table>
    </div>
    <button onclick="location.href=`/menu?userID=${localStorage.getItem('userId')}`" class="resolver evaluar" style="margin-top: 20px;">Volver</button>
    <audio id="sonido-celda" src="{{ url_for('static', filename='sounds/bubble.mp3') }}"> preload="auto"></audio>
    <audio id="sonido-boton" src="{{ url_for('static', filename='sounds/click.mp3') }}"> preload="auto"></audio>
    <audio id="musica"> preload="auto"></audio>
    <script>
        const savedTheme = localStorage.getItem("theme");
        const musica = document.getElementById("musica");
        const sonidoCelda = document.getElementById("sonido-celda");
        sonidoCelda.load();
        document.addEventListener("DOMContentLoaded", function() {
            const sonido = document.getElementById("sonido-boton");
            const savedTheme = localStorage.getItem("theme");
            const numero = Math.floor(Math.random() * 10) + 1;
            musica.src = `/static/sounds/game_music_${numero}.mp3`;
            musica.loop = true;
            musica.volume = 0; // Ajusta el volumen de la música
            musica.play();
            if (savedTheme) {
                document.body.classList.remove("light-theme", "dark-theme");
                document.body.classList.add(savedTheme);
            }
            let paso = 0;
                const fade = setInterval(() => {
                    paso++;

                    musica.volume = Math.min(0.36, paso * 0.06);     // fade out

                    if (paso >= 15) {
                        clearInterval(fade);
                    }
                }, 300);
            document.querySelectorAll(".resolver").forEach(boton => {
                boton.addEventListener("click", function (e) {
                    e.preventDefault(); // Detiene redirección inmediata
                    let url = this.getAttribute("data-url");

                    if (url === "/menu") {
                        url = `/menu?userID=${localStorage.getItem('userId')}`;
                    }
                    sonido.currentTime = 0;
                    sonido.volume = 0.2; // Ajustar el volumen del sonido del botón
                    sonido.play();
                    if (!url) return;

                    setTimeout(() => {
                        window.location.href = url;
                    }, 300); // Ajusta si el sonido es más largo
                });
            });
        });
        document.getElementById("title_part").textContent = "";
        let timerInterval;
        let boards_solved = 0;
        let total_attempts = 0;
        let centisecondsElapsed = 7000;
        let question;
        let questions = [
            "¿Texto arriba = Color abajo?",
            "¿Color arriba = Texto abajo?",
            "¿Texto arriba = Texto abajo?",
            "¿Color arriba = Color abajo?",
            "¿Texto arriba = Color arriba?",
            "¿Texto abajo = Color abajo?"
        ];
        let colors = ['#ff0c0c', '#2db003', '#007bff', '#fff300', '#ff8000', '#e6007e'];
        let nombres = ['Rojo', 'Verde', 'Azul', 'Amarillo', 'Naranja', 'Rosa'];
        let combs = [
                ['Rojo',     '#ff0c0c'],
                ['Verde',    '#2db003'],
                ['Azul',     '#007bff'],
                ['Amarillo', '#fff300'],
                ['Naranja',  '#ff8000'],
                ['Rosa',     '#e6007e']
            ];


    
        function startTimer() {
            clearInterval(timerInterval); // Reiniciar el cronómetro si ya estaba en marcha
            updateTimerDisplay(false);

            timerInterval = setInterval(() => {
                centisecondsElapsed--; // Incrementar en 10 ms
                updateTimerDisplay(false);
                if (centisecondsElapsed <= 0) {
                    const in_cells = document.querySelectorAll('#inputs td');
                    in_cells.forEach(cell => {
                        cell.classList.add('locked');
                    });
                    document.getElementById("timer").innerText = '00:00.00'
                    document.getElementById("title_part").textContent = "¡Se acabó el tiempo!";
                    stopTimer();
                    let paso = 0;
                    const fade = setInterval(() => {
                        paso++;

                        musica.volume = Math.max(0, 0.36 - paso * 0.05);     // fade out

                        if (paso >= 8) {
                            clearInterval(fade);
                            musicaFondo.pause(); // opcional: pausa la música
                        }
                    }, 300);
                    fetch('/leaderboard/update', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            score: boards_solved * Math.pow((boards_solved / total_attempts), 2),
                            userID: localStorage.getItem('userId'),
                            game: 'Color'
                        })
                    }).then(response => response.json())
                    .then(data => {
                        if (data.better) {
                            window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&better=si&board=${data.board}`;
                        } else {
                            window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&score=${data.score}&board=${data.board}`;
                        }
                    });
                }
            }, 10); // Actualizar cada 10 ms (centésima de segundo)
        }

        function stopTimer() {
            clearInterval(timerInterval);
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const centiseconds = (centisecondsElapsed % 100).toString().padStart(2, '0').replace(/^0/, ''); // Remover ceros iniciales
}

        function updateTimerDisplay() {
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const milliseconds = (centisecondsElapsed % 100).toString().padStart(2, '0');
            const timerElement = document.getElementById("timer");
            if (centisecondsElapsed <= 1000) {
                if (centisecondsElapsed% 120 === 0) {
                    timerElement.style.color = "#f00";
                    setTimeout(() => {
                        timerElement.style.removeProperty("color");
                    }, 500);
                }
            }
            timerElement.textContent = `${minutes}:${seconds}.${milliseconds}`;
        }

        function createTable() {
            const table = document.getElementById('matrix');
            table.innerHTML = ''; // Limpiar contenido de la tabla existente
            for (let i = 0; i < 2; i++) {
                const row = document.createElement('tr');
                for (let j = 0; j < 1; j++) {
                    const cell = document.createElement('td');
                    cell.style.fontSize = '100px';
                    cell.style.width = "460px";
                    cell.style.height = "120px";
                    cell.style.borderRadius = "25px";
                    row.appendChild(cell);
                }
                table.appendChild(row);
            }
            
            const table_inputs = document.getElementById('inputs');
            table_inputs.innerHTML = ''; // Limpiar contenido de la tabla existente
            for (let i = 0; i < 1; i++) {
                const row = document.createElement('tr');
                for (let j = 0; j < 2; j++) {
                    const cell = document.createElement('td');
                    cell.style.width = "100px";
                    cell.style.height = "70px";
                    cell.style.borderRadius = "25px";
                    cell.innerText = j === 0 ? 'Sí' : 'No';
                    if (savedTheme === 'light-theme') {
                        cell.style.color = '#000000';
                    }
                    cell.onclick = () => toggleColor(i, j, cell);
                    row.appendChild(cell);
                }
                table_inputs.appendChild(row);
            }
            const cells = document.querySelectorAll('td');
            if (savedTheme !== 'light-theme') {
                cells.forEach(cell => {
                    cell.style.backgroundColor = '#ffffff0f';
                });
            }
            document.body.classList.add('lock-size-40');
            
        }

        function toggleColor(row, col, cell) {
            const sonidoCelda = document.getElementById("sonido-celda");
            if (!sonidoCelda.paused) {
                sonidoCelda.pause();
            }
            sonidoCelda.currentTime = 0;
            sonidoCelda.volume = 0.1;
            sonidoCelda.play();

            total_attempts++;
            const in_cells = document.querySelectorAll('#inputs td');
            in_cells.forEach(cell => {
                cell.classList.add('locked');
            });
            let table = document.getElementById('matrix');

            const valid = question === 0 ? combs.some(pos => pos[0] === table.rows[0].cells[0].innerText && pos[1].toLowerCase() === rgbToHex(getComputedStyle(table.rows[1].cells[0]).color).toLowerCase()) :
                          question === 1 ? combs.some(pos => pos[0] === table.rows[1].cells[0].innerText && pos[1].toLowerCase() === rgbToHex(getComputedStyle(table.rows[0].cells[0]).color).toLowerCase()) :
                          question === 2 ? table.rows[0].cells[0].innerText === table.rows[1].cells[0].innerText :
                          question === 3 ? rgbToHex(getComputedStyle(table.rows[0].cells[0]).color).toLowerCase() === rgbToHex(getComputedStyle(table.rows[1].cells[0]).color).toLowerCase() :
                          question === 4 ? combs.some(pos => pos[0] === table.rows[0].cells[0].innerText && pos[1].toLowerCase() === rgbToHex(getComputedStyle(table.rows[0].cells[0]).color).toLowerCase()) :
                          combs.some(pos => pos[0] === table.rows[1].cells[0].innerText && pos[1].toLowerCase() === rgbToHex(getComputedStyle(table.rows[1].cells[0]).color).toLowerCase());

            setTimeout(() => {
                let cell_color;

                if ((cell.innerText === 'Sí' && valid) || (cell.innerText === 'No' && !valid)) {
                    boards_solved += 1;
                    cell_color = 'correct_place';  // verde
                } else {
                    cell_color = 'correct_character';  // rojo
                }

                // Ahora que cell_color está definido, aplicamos el color
                for (let i = 0; i < 2; i++) {
                    for (let j = 0; j < 1; j++) {
                        const cell = table.rows[i].cells[j];
                        cell.innerText = '';
                        cell.className = cell_color;
                    }
                }
            }, 200);

            // Restaurar colores
            setTimeout(() => {
                const cells = document.querySelectorAll('td');
                cells.forEach(cell => {
                    cell.classList.remove('correct_place');
                    cell.classList.remove('correct_character');
                });
                in_cells.forEach(cell => {
                    cell.classList.remove('locked');
                });
                startGame();
            }, 700);
        }


        function startGame() {
            question = Math.floor(Math.random() * questions.length)
            document.getElementById("title_part").textContent = questions[question];
            const table = document.getElementById('matrix');
            // Probabilidad de coincidencia (por ejemplo, 0.7 = 70%)
            const probabilidadCoincidencia = 0.53;

            if (Math.random() < probabilidadCoincidencia) {
                const idx = Math.floor(Math.random() * nombres.length);
                if (question === 0) {
                    table.rows[0].cells[0].innerText = nombres[idx];
                    table.rows[1].cells[0].style.color = colors[idx];

                    table.rows[1].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                    table.rows[0].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
                } else if (question === 1) {
                    table.rows[1].cells[0].innerText = nombres[idx];
                    table.rows[0].cells[0].style.color = colors[idx];

                    table.rows[0].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                    table.rows[1].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
                } else if (question === 2) {
                    table.rows[1].cells[0].innerText = nombres[idx];
                    table.rows[0].cells[0].innerText = nombres[idx];

                    table.rows[0].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
                    table.rows[1].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
                } else if (question === 3) {
                    table.rows[1].cells[0].style.color = colors[idx];
                    table.rows[0].cells[0].style.color = colors[idx];

                    table.rows[0].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                    table.rows[1].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                } else if (question === 4) {
                    table.rows[0].cells[0].innerText = nombres[idx];
                    table.rows[0].cells[0].style.color = colors[idx];

                    table.rows[1].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                    table.rows[1].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
                } else if (question === 5) {
                    table.rows[1].cells[0].innerText = nombres[idx];
                    table.rows[1].cells[0].style.color = colors[idx];

                    table.rows[0].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                    table.rows[0].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
                }
            } else {
                table.rows[0].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                table.rows[0].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
                table.rows[1].cells[0].innerText = nombres[Math.floor(Math.random() * nombres.length)];
                table.rows[1].cells[0].style.color = colors[Math.floor(Math.random() * colors.length)];
            }
            let overlay = document.getElementById('countdown-overlay');
            let count = 2;
            const countdownElement = document.getElementById("countdown");
            countdownElement.style.fontSize = "40px"; 
            countdownElement.style.textAlign = "center"; 
            countdownElement.innerHTML = "Lee la pregunta y responde";

            const countdownInterval = setInterval(() => {
                count--;
                countdownElement.style.fontSize = "120px"; 
                countdownElement.textContent = "¡Adelante!";
                if (count <= 0) {
                    clearInterval(countdownInterval);
                    overlay.style.display = "none"; // Ocultar overlay al terminar
                    startTimer(); // Iniciar el cronómetro después de la cuenta regresiva
                }
            }, 1400);
        }

        function rgbToHex(rgb) {
            const result = rgb.match(/\d+/g).map(n => parseInt(n).toString(16).padStart(2, '0'));
            return '#' + result.slice(0, 3).join('');
        }

        createTable();
        startGame();
    </script>
</body>
</html>
