<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, user-scale=no, maximum-scale=0.6">
    <title>Level {{ level }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 style="text-align:center;">Nivel {{ level }}</h1>
    <!-- Cronómetro -->
    <div style="text-align:center; margin: 20px;">
        <span id="timer" style="font-size: 24px; font-weight: bold; color: #eaeaea;">00:00</span>
    </div>
    <table id="matrix">
        <!-- JavaScript will generate the table here -->
    </table>
    <div style="text-align:center;" class="botones">
        <button onclick="createTable()" class="resolver evaluar">Reiniciar</button>
        <button onclick="evaluateMatrix()" class="resolver evaluar">Evaluar</button>
    </div>
    <script>
        let matrixSize = "{{ n }}"; // Tamaño de la matriz
        let matrix = JSON.parse('{{ matrix|safe }}');
        const level = JSON.parse('{{ matrix|safe }}');
        
        // Variables para el cronómetro
        let timerInterval;
        let secondsElapsed = 0;

        function startTimer() {
            clearInterval(timerInterval); // Reiniciar el cronómetro si ya estaba en marcha
            secondsElapsed = 0;
            updateTimerDisplay();

            timerInterval = setInterval(() => {
                secondsElapsed++;
                updateTimerDisplay();
            }, 1000);
        }

        function stopTimer() {
            clearInterval(timerInterval);
        }

        function updateTimerDisplay() {
            const minutes = Math.floor(secondsElapsed / 60).toString().padStart(2, '0');
            const seconds = (secondsElapsed % 60).toString().padStart(2, '0');
            document.getElementById("timer").textContent = `${minutes}:${seconds}`;
        }
        
        function adjustLockSize() {
            const lockSizeClass = matrixSize <= 4 ? 'lock-size-40' : 'lock-size-35';

            // Remover cualquier clase de tamaño de candado previo
            document.body.classList.remove('lock-size-40', 'lock-size-35');

            // Añadir la nueva clase según el tamaño
            document.body.classList.add(lockSizeClass);
        }
        
        function reset(){
            stopSolution = true; // Activar bandera para detener la animación
            matrixSize = parseInt(document.getElementById('matrix-size').value);
            createTable(level);
        }

        function adjustCellSize() {
            const cellSize = matrixSize <= 4 ? 100 : 80;
            const cellRadius = matrixSize <= 4 ? 25 : 20;
            stopTimer();
            const cells = document.querySelectorAll('td');
            cells.forEach(cell => {
                cell.style.width = `${cellSize}px`;
                cell.style.height = `${cellSize}px`;
                cell.style.borderRadius = `${cellRadius}px`
            });

            adjustLockSize(); // Llamar para ajustar el tamaño del candado
        }

        function createTable() {
            const table = document.getElementById('matrix');
            table.innerHTML = ''; // Limpiar contenido de la tabla existente
            for (let i = 0; i < matrixSize; i++) {
                const row = document.createElement('tr');
                for (let j = 0; j < matrixSize; j++) {
                    const cell = document.createElement('td');
                    cell.className = 'grey';
                    cell.onclick = () => toggleColor(i, j, cell);
                    row.appendChild(cell);
                }
                table.appendChild(row);
            }
            adjustCellSize(); // Ajustar tamaño de las celdas y candados después de crear la 
            for (let i = 0; i < level.length; i++) {
                for (let j = 0; j < level[i].length; j++) {
                    const cell = table.rows[i].cells[j];
                    if (level[i][j] === 0) {
                        cell.className = 'red blocked';
                    } else if (level[i][j] === 1) {
                        cell.className = 'blue blocked';
                    } else {
                        cell.className = 'grey';
                    }
                }
            }
            startTimer()
        }

        function toggleColor(row, col, cell) {
            if (cell.classList.contains('blocked')) {
                return; // Do nothing if the cell is blocked
            }
            if (cell.className === 'grey') {
                cell.className = 'red';
                matrix[row][col] = 0;
            } else if (cell.className === 'red') {
                cell.className = 'blue';
                matrix[row][col] = 1;
            } else {
                cell.className = 'grey';
                matrix[row][col] = -1;
            }
        }


        function evaluateMatrix() {
            if (rules_final(matrix)) {
                stopTimer(); // Detener el cronómetro si el jugador gana
                alert("¡Felicidades, has ganado!");
            }
        }

        function rules_final(matrix) {
            const n = matrix.length;
            const matrixt = matrix[0].map((_, colIndex) => matrix.map(row => row[colIndex]));
            let control = true;
            if (all(matrix)) {
                for (let i = 0; i < n; i++) {
                    for (let j = 0; j < n - 2; j++) {
                        if (matrix[i][j] === matrix[i][j + 1] && matrix[i][j] === matrix[i][j + 2]) {
                            alert(`Hay 3 en línea en la fila ${i + 1}`);
                            control = false;
                            return control;
                        }
                        if (matrix[j][i] === matrix[j + 1][i] && matrix[j][i] === matrix[j + 2][i]) {
                            alert(`Hay 3 en línea en la columna ${i + 1}`);
                            control = false;
                            return control;
                        }
                    }
                }
                for (let i = 0; i < n; i++) {
                    if (sum(matrix[i]) < (n) / 2) {
                        alert(`Hay más amarillos que morados en la fila ${i + 1}`);
                        control = false;
                        return control;
                    }
                    if (sum(matrix[i]) > (n) / 2) {
                        alert(`Hay más morados que amarillos en la fila ${i + 1}`);
                        control = false;
                        return control;
                    }
                }
                for (let i = 0; i < n; i++) {
                    if (sum(matrixt[i]) < (n) / 2) {
                        alert(`Hay más amarillos que morados en la columna ${i + 1}`);
                        control = false;
                        return control;
                    }
                    if (sum(matrixt[i]) > (n) / 2) {
                        alert(`Hay más morados que amarillos en la columna ${i + 1}`);
                        control = false;
                        return control;
                    }
                }
                for (let i = 0; i < n; i++) {
                    for (let j = i + 1; j < n; j++) {
                        if (arraysEqual(matrix[i], matrix[j])) {
                            alert(`Las filas ${i + 1} y ${j + 1} son iguales`);
                            control = false;
                            return control;
                        }
                        if (arraysEqual(matrixt[i], matrixt[j])) {
                            alert(`Las columnas ${i + 1} y ${j + 1} son iguales`);
                            control = false;
                            return control;
                        }
                    }
                }
                return control;
            }
            return false;
        }

        function all(matrix) {
            return matrix.every(row => row.every(cell => cell !== -1));
        }

        function sum(array) {
            return array.reduce((a, b) => a + b, 0);
        }

        function arraysEqual(a, b) {
            return JSON.stringify(a) === JSON.stringify(b);
        }
        createTable();
    </script>
</body>
</html>
