<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scale=no, maximum-scale=0.9">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Leaderboards</title>
    </head>
    <body>
        <div style="text-align:center; margin: 20px;">
            <h1 id="title" style="font-size: 26px; font-weight: bold;">Ranking</h1>
            <select id="matrix-size" style="padding: 1px; font-size: 26px; font-weight: bold;text-align: center; border-radius: 8px; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" onchange="reset()">
                <option value="4" selected>4 x 4</option>
                <option value="6">6 x 6</option>
                <option value="8">8 x 8</option>
                <option value="10">10 x 10</option>
                <option value="Contrareloj">Contrareloj</option>
                <option value="Memoria">MindGrid</option>
            </select>
        </div>
        <div id="leaderboard" style="text-align: center;margin-top: 20px;"></div>
        <button onclick="location.href=`/menu?userID=${localStorage.getItem('userId')}`" class="resolver azulito" style="margin-top: 20px;text-align: center; width: 150px; height: 50px; font-size: 18px;">Volver</button>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const savedTheme = localStorage.getItem("theme");
                if (savedTheme) {
                    document.body.classList.remove("light-theme", "dark-theme");
                    document.body.classList.add(savedTheme);
                }
                const div = document.getElementById("matrix-size");

                if (savedTheme === "light-theme") {
                    div.style.background = "#fffde6";
                    div.style.color = "#000000";
                    div.style.border = "1px solid #121212";
                } else if (savedTheme === "dark-theme") {
                    div.style.background = "#000112";
                    div.style.color = "#ffffff";
                    div.style.border = "1px solid #ccc";
                } else {
                    div.style.background = "#15003e";
                    div.style.color = "#ffffff";
                    div.style.border = "1px solid #ccc";
                }
            });
            // Obtener los datos del leaderboard pasado desde el backend
            const data = JSON.parse('{{ data | safe }}');
            const firstPlaceImg = "{{ url_for('static', filename='images/first_place.png') }}";
            const secondPlaceImg = "{{ url_for('static', filename='images/second_place.png') }}";
            const thirdPlaceImg = "{{ url_for('static', filename='images/third_place.png') }}";


            function reset() {
                let leaderboardDiv = document.getElementById('leaderboard');
                leaderboardDiv.innerHTML = '';
                let table = document.createElement('table');
                table.classList.add("leaderboard");
                let n = document.getElementById('matrix-size').value;
                let leaderboardData = data[`T${n}`];

                // Crear encabezados de la tabla
                table.innerHTML = `
                    <tr>
                        <th>Posición</th>
                        <th>Nombre</th>
                        <th>Record</th>
                    </tr>
                `;
        
                // Mostrar las entradas del leaderboard
                leaderboardData.slice(0, 10).forEach((entry, index) => {
                let row = document.createElement('tr');
                let colorClass = "";
                let place = index + 1; // Por defecto, mostrar el número

                if (index === 0) {
                    colorClass = "#f1c40f";
                    place = `<img src="${firstPlaceImg}" alt="1st" width="20">`;
                } else if (index === 1) {
                    colorClass = "#7bafb9";
                    place = `<img src="${secondPlaceImg}" alt="2nd" width="20">`;
                } else if (index === 2) {
                    colorClass = "#bd6104";
                    place = `<img src="${thirdPlaceImg}" alt="3rd" width="20">`;
                }

                row.innerHTML = `
                    <td class="tipo2" style="color: ${colorClass}">${place}</td>
                    <td class="tipo2" style="color: ${colorClass}">${entry[0]}</td>
                    <td class="tipo2" style="color: ${colorClass}">${entry[1]}</td>
                `;
                table.appendChild(row);
            });
        
                leaderboardDiv.appendChild(table);

                const userIndex = leaderboardData.findIndex(entry => entry[2] === localStorage.getItem('userId'));

                if (userIndex !== -1 && userIndex >= 10) { // Si el usuario está en la lista
                    // Espacio entre tabla y nueva sección
                    let space = document.createElement('div');
                    space.style.marginTop = "30px";
                    leaderboardDiv.appendChild(space);

                    // Crear una nueva fila con tres celdas separadas
                    let extraTable = document.createElement('table');
                    extraTable.classList.add("leaderboard");
                    extraTable.style.width = table.offsetWidth + 'px';
            
                    // Crear encabezados de la tabla
                    extraTable.innerHTML = `
                        <tr>
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Record</th>
                        </tr>
                    `;
                    let extraRow = document.createElement('tr');
                    extraRow.innerHTML = `
                        <td class="tipo2">${userIndex + 1}</td>
                        <td class="tipo2">${leaderboardData[userIndex][0]}</td>
                        <td class="tipo2">${leaderboardData[userIndex][1]}</td>
                    `;
                    extraTable.appendChild(extraRow);
                    leaderboardDiv.appendChild(extraTable);
                }
            }
            reset();
        </script>
    </body>
    </html>