<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scale=no, maximum-scale=0.9">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Leaderboard</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body>
        <div class="js-container container" style="top:0px !important;">
            <div style="text-align:center; margin: 20px;">
                <h1 id="title" style="font-size: 30px; font-weight: bold;">Ranking de {{board}}</h1>
            </div>
            <h1 for="matrix-size" style="font-size: 22px; font-weight: bold; margin-top: 10px; margin-bottom: 10px">{{ message }}</h1>
            <div id="leaderboard" style="text-align: center;margin-top: 20px;"></div>
            <div style="text-align:center;" class="botones">
                <button onclick="reintentar()" class="resolver evaluar">Reintentar</button>
                <button data-url="/menu" class= "resolver evaluar">Volver</button>
            </div>
        </div>
        <audio id="celebrate" src="{{ url_for('static', filename='sounds/celebrate.mp3') }}" preload="auto"></audio>
        <audio id="sonido-boton" src="{{ url_for('static', filename='sounds/click.mp3') }}" preload="auto"></audio>
        <script>
            const celebrate = document.getElementById('celebrate');
            const sonido = document.getElementById("sonido-boton");
            sonido.load();
            document.querySelectorAll(".resolver").forEach(boton => {
                boton.addEventListener("click", function (e) {
                    e.preventDefault(); // Detiene redirección inmediata
                    let url = this.getAttribute("data-url");

                    if (url === "/menu") {
                        url = `/menu?userID=${localStorage.getItem('userId')}`;
                    }
                    sonido.currentTime = 0;
                    sonido.volume = 0.2; // Ajustar el volumen del sonido del botón
                    sonido.play();
                    if (!url) return;

                    setTimeout(() => {
                        window.location.href = url;
                    }, 300); // Ajusta si el sonido es más largo
                });
            });
            function reintentar() {
                setTimeout(() => {
                    if (board === "Contrareloj") {
                        window.location.href = '/time_trial_0hh1'
                    } else if (board.includes('Cruzado')) {
                        window.location.href = '/colors'
                    } else if (board.includes('color')) {
                        window.location.href = '/memory'
                    } else if (board.includes('Aleatorio') || board.includes('Progresivo')) {
                        window.location.href = '/sequence'
                    } else if (board.includes('CuentaManía')) {
                        window.location.href = '/speed'
                    } else if (board.includes('Knight')) {
                        window.location.href = '/knight'
                    } else if (board.includes('Light')) {
                        window.location.href = '/light_out'
                    } else if (board.includes('Nerdle')) {
                        window.location.href = '/nerdle'
                    } else if (game.includes('T0')) {
                        window.location.href = '/0hn0'
                    } else {
                        window.location.href = '/0hh1'
                    }
                }, 200); // Ajusta si el sonido es más largo
            }
            const best = '{{best}}'
            const board = '{{board}}'
            const game = '{{game}}'
            const Confettiful = function (el) {
                this.el = el;
                this.containerEl = null;
                this.confettiFrequency = 3;
                this.confettiColors = ['#00ff04', '#ff0000', '#ff00e6', '#00a2ff','#ffea00'];
                this.confettiAnimations = ['slow', 'medium', 'fast'];
                this._setupElements();
                this._renderConfetti();
            };

            Confettiful.prototype._setupElements = function () {
                const containerEl = document.createElement('div');
                containerEl.classList.add('confetti-container');
                this.el.style.position = 'relative';
                this.el.appendChild(containerEl);
                this.containerEl = containerEl;
            };

            Confettiful.prototype._renderConfetti = function () {
                this.confettiInterval = setInterval(() => {
                    const confettiEl = document.createElement('div');
                    const confettiSize = `${Math.floor(Math.random() * 8) + 7}px`;
                    const confettiBackground = this.confettiColors[Math.floor(Math.random() * this.confettiColors.length)];
                    const confettiLeft = `${Math.random() * this.el.offsetWidth}px`;
                    const confettiAnimation = this.confettiAnimations[Math.floor(Math.random() * this.confettiAnimations.length)];

                    confettiEl.classList.add('confetti', `confetti--animation-${confettiAnimation}`);
                    confettiEl.style.left = confettiLeft;
                    confettiEl.style.width = confettiSize;
                    confettiEl.style.height = confettiSize;
                    confettiEl.style.backgroundColor = confettiBackground;

                    this.containerEl.appendChild(confettiEl);

                    setTimeout(() => {
                        confettiEl.remove();
                    }, 3000);
                }, 25);

                // Detener la animación después de 10 segundos
                setTimeout(() => {
                    clearInterval(this.confettiInterval);
                    let paso = 0;
                    const fade = setInterval(() => {
                        paso++;

                        celebrate.volume = Math.max(0, 0.2 - paso * 0.01);     // fade out

                        if (paso >= 20) {
                            clearInterval(fade);
                        }
                    }, 200);
                }, 7000);
            };

            window.addEventListener('DOMContentLoaded', () => {
                const container = document.querySelector('.js-container');
                if(best === "True") {
                    // Reproducir el sonido de celebración
                    celebrate.volume = 0.2; // Asegurarse de que el volumen esté al máximo
                    celebrate.play()
                    setTimeout(() => {
                        new Confettiful(container);
                    }, 2000); // Duración del sonido de celebración
                }
            });
            // Obtener los datos del leaderboard pasado desde el backend
            document.addEventListener("DOMContentLoaded", function() {
                const savedTheme = localStorage.getItem("theme");
                if (savedTheme) {
                    document.body.classList.remove("light-theme", "dark-theme");
                    document.body.classList.add(savedTheme);
                }
            });
            const data = JSON.parse('{{ data | safe }}');
            const firstPlaceImg = "{{ url_for('static', filename='images/first_place.png') }}";
            const secondPlaceImg = "{{ url_for('static', filename='images/second_place.png') }}";
            const thirdPlaceImg = "{{ url_for('static', filename='images/third_place.png') }}";

    
            // Crear encabezados de la tabla
            let leaderboardDiv = document.getElementById('leaderboard');
            leaderboardDiv.innerHTML = '';
            let table = document.createElement('table');
            table.classList.add("leaderboard");
            table.style.height = '30px'
            table.innerHTML = `
                <tr>
                    <th>Posición</th>
                    <th>Nombre</th>
                    <th>Record</th>
                </tr>
            `;
    
            data.slice(0, 5).forEach((entry, index) => {
                let row = document.createElement('tr');
                let colorClass = "";
                let place = index + 1; // Por defecto, mostrar el número

                if (index === 0) {
                    colorClass = "#f1c40f";
                    place = `<img src="${firstPlaceImg}" alt="1st" width="20">`;
                } else if (index === 1) {
                    colorClass = "#7bafb9";
                    place = `<img src="${secondPlaceImg}" alt="2nd" width="20">`;
                } else if (index === 2) {
                    colorClass = "#bd6104";
                    place = `<img src="${thirdPlaceImg}" alt="3rd" width="20">`;
                }

                row.innerHTML = `
                    <td class="tipo2" style="color: ${colorClass}">${place}</td>
                    <td class="tipo2" style="color: ${colorClass}">${entry[0]}</td>
                    <td class="tipo2" style="color: ${colorClass}">${entry[1]}</td>
                `;
                table.appendChild(row);
            });

    
            leaderboardDiv.appendChild(table);

            const userIndex = data.findIndex(entry => entry[2] === localStorage.getItem('userId'));

            if (userIndex !== -1 && userIndex >= 5) { // Si el usuario está en la lista
                // Espacio entre tabla y nueva sección
                let space = document.createElement('div');
                space.style.marginTop = "30px";
                leaderboardDiv.appendChild(space);

                // Crear una nueva fila con tres celdas separadas
                let extraTable = document.createElement('table');
                extraTable.classList.add("leaderboard");
                extraTable.style.width = table.offsetWidth + 'px'
        
                // Crear encabezados de la tabla
                extraTable.innerHTML = `
                    <tr>
                        <th>Posición</th>
                        <th>Nombre</th>
                        <th>Record</th>
                    </tr>
                `;
                let extraRow = document.createElement('tr');
                extraRow.innerHTML = `
                    <td class="tipo2">${userIndex + 1}</td>
                    <td class="tipo2">${data[userIndex][0]}</td>
                    <td class="tipo2">${data[userIndex][1]}</td>
                `;
                extraTable.appendChild(extraRow);
                leaderboardDiv.appendChild(extraTable);
            }
        </script>
    </body>
    </html>
