<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scale=no, maximum-scale=0.9">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Leaderboards</title>
    </head>
    <body>
        <div style="text-align:center; margin: 20px;">
            <h1 id="title" style="font-size: 26px; font-weight: bold;">Ranking</h1>
            <select id="matrix-size" style="padding: 1px; font-size: 26px; font-weight: bold;text-align: center; border-radius: 8px; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" onchange="reset()">
            </select>
        </div>
        <div id="leaderboard" style="text-align: center;margin-top: 20px;"></div>
        <button data-url="/menu" class="resolver azulito" style="margin-top: 20px;text-align: center; width: 150px; height: 50px; font-size: 18px;">Volver</button>
        <audio id="sonido-boton" src="{{ url_for('static', filename='sounds/click.mp3') }}"></audio>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const savedTheme = localStorage.getItem("theme");
                const div = document.getElementById("matrix-size");
        
                if (savedTheme) {
                    document.body.classList.remove("light-theme", "dark-theme");
                    document.body.classList.add(savedTheme);
                }
        
                if (savedTheme === "light-theme") {
                    div.style.background = "#fffde6";
                    div.style.color = "#000000";
                    div.style.border = "1px solid #121212";
                } else if (savedTheme === "dark-theme") {
                    div.style.background = "#000112";
                    div.style.color = "#ffffff";
                    div.style.border = "1px solid #ccc";
                } else {
                    div.style.background = "#15003e";
                    div.style.color = "#ffffff";
                    div.style.border = "1px solid #ccc";
                }

                
                const sonido = document.getElementById("sonido-boton");
                document.querySelectorAll(".resolver").forEach(boton => {
                    boton.addEventListener("click", function (e) {
                        e.preventDefault(); // Detiene redirección inmediata
                        let url = this.getAttribute("data-url");

                        if (url === "/menu") {
                            url = `/menu?userID=${localStorage.getItem('userId')}`;
                        }
                        sonido.currentTime = 0;
                        sonido.volume = 0.2; // Ajustar el volumen del sonido del botón
                        sonido.play();
                        if (!url) return;

                        setTimeout(() => {
                            window.location.href = url;
                        }, 200); // Ajusta si el sonido es más largo
                    });
                });
        
                // Restaurar selección desde localStorage
                const savedSelection = localStorage.getItem("selectedMatrix");
                const matrixSelect = document.getElementById("matrix-size");

                // Si hay un valor guardado y es válido, seleccionarlo; de lo contrario, usar la primera opción disponible.
                if (savedSelection && [...matrixSelect.options].some(option => option.value === savedSelection)) {
                    matrixSelect.value = savedSelection;
                } else {
                    matrixSelect.value = matrixSelect.options[0].value; // Asignar el primer valor disponible
                    localStorage.setItem("selectedMatrix", matrixSelect.value); // Guardarlo en localStorage
                }
                updateLeaderboard()
            });
        
            let data = [];
            const firstPlaceImg = "{{ url_for('static', filename='images/first_place.png') }}";
            const secondPlaceImg = "{{ url_for('static', filename='images/second_place.png') }}";
            const thirdPlaceImg = "{{ url_for('static', filename='images/third_place.png') }}";
            const game = '{{ game }}';
            const matrixSelect = document.getElementById("matrix-size");
        
            // Limpiar opciones y agregar nuevas
            matrixSelect.innerHTML = "";
        
            if (game === "0h-h1") {
                matrixSelect.innerHTML += '<option value="4">4 x 4</option>';
                matrixSelect.innerHTML += '<option value="6">6 x 6</option>';
                matrixSelect.innerHTML += '<option value="8">8 x 8</option>';
                matrixSelect.innerHTML += '<option value="10">10 x 10</option>';
                matrixSelect.innerHTML += '<option value="Contrareloj">Contrareloj</option>';
            } else if (game === "MindGrid") {
                matrixSelect.innerHTML += '<option value="Unicolor">Unicolor</option>';
                matrixSelect.innerHTML += '<option value="Bicolor">Bicolor</option>';
                matrixSelect.innerHTML += '<option value="Progresivo">Progresivo</option>';
                matrixSelect.innerHTML += '<option value="Aleatorio">Aleatorio</option>';
                matrixSelect.innerHTML += '<option value="Speed">CuentaManía</option>';
                matrixSelect.innerHTML += '<option value="Cruzado">Colores Cruzados</option>';
            } else if (game === "ChessGames") {
                matrixSelect.innerHTML += '<option value="Knight">Knight</option>';
            } else if (game === "0h-n0") {
                matrixSelect.innerHTML += '<option value="04">4 x 4</option>';
                matrixSelect.innerHTML += '<option value="05">5 x 5</option>';
            } else if (game === "MathGames") {
                matrixSelect.innerHTML += '<option value="Mini-Nerdle">Mini-Nerdle</option>';
                matrixSelect.innerHTML += '<option value="Nerdle">Nerdle</option>';
                matrixSelect.innerHTML += '<option value="Maxi-Nerdle">Maxi-Nerdle</option>';
            }
        
            // Restaurar la selección guardada después de poblar las opciones
            const savedSelection = localStorage.getItem("selectedMatrix");
            if (savedSelection) {
                matrixSelect.value = savedSelection;
            }
        
            matrixSelect.addEventListener("change", function() {
                localStorage.setItem("selectedMatrix", matrixSelect.value);
                reset();
            });
            
            function reset() {
                let leaderboardDiv = document.getElementById('leaderboard');
                leaderboardDiv.innerHTML = '';
                let table = document.createElement('table');
                table.classList.add("leaderboard");
                let n = document.getElementById('matrix-size').value;
                let leaderboardData = data[`T${n}`] || [];
        
                table.innerHTML = `
                    <tr>
                        <th>Posición</th>
                        <th>Nombre</th>
                        <th>Record</th>
                    </tr>
                `;
        
                leaderboardData.slice(0, 10).forEach((entry, index) => {
                    let row = document.createElement('tr');
                    let colorClass = "";
                    let place = index + 1;
        
                    if (index === 0) {
                        colorClass = "#f1c40f";
                        place = `<img src="${firstPlaceImg}" alt="1st" width="20">`;
                    } else if (index === 1) {
                        colorClass = "#7bafb9";
                        place = `<img src="${secondPlaceImg}" alt="2nd" width="20">`;
                    } else if (index === 2) {
                        colorClass = "#bd6104";
                        place = `<img src="${thirdPlaceImg}" alt="3rd" width="20">`;
                    }
        
                    row.innerHTML = `
                        <td class="tipo2" style="color: ${colorClass}">${place}</td>
                        <td class="tipo2" style="color: ${colorClass}">${entry[0]}</td>
                        <td class="tipo2" style="color: ${colorClass}">${entry[1]}</td>
                    `;
                    table.appendChild(row);
                });
        
                while (table.rows.length < 11) { // 1 para el encabezado + 10 filas de datos
                    let emptyRow = document.createElement('tr');
                    emptyRow.innerHTML = `
                        <td class="tipo2">-</td>
                        <td class="tipo2">-</td>
                        <td class="tipo2">-</td>
                    `;
                    table.appendChild(emptyRow);
                }
                leaderboardDiv.appendChild(table);
        
                const userIndex = leaderboardData.findIndex(entry => entry[2] === localStorage.getItem('userId'));
        
                if (userIndex !== -1 && userIndex >= 10) {
                    let space = document.createElement('div');
                    space.style.marginTop = "30px";
                    leaderboardDiv.appendChild(space);
        
                    let extraTable = document.createElement('table');
                    extraTable.classList.add("leaderboard");
                    extraTable.style.width = table.offsetWidth + 'px';
        
                    extraTable.innerHTML = `
                        <tr>
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Record</th>
                        </tr>
                    `;
                    let extraRow = document.createElement('tr');
                    extraRow.innerHTML = `
                        <td class="tipo2">${userIndex + 1}</td>
                        <td class="tipo2">${leaderboardData[userIndex][0]}</td>
                        <td class="tipo2">${leaderboardData[userIndex][1]}</td>
                    `;
                    extraTable.appendChild(extraRow);
                    leaderboardDiv.appendChild(extraTable);
                }
            }
        
            function updateLeaderboard() {
                fetch("/api/leaderboards", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ game: game })
                })
                .then(response => response.json())
                .then(json => {
                    data = json.data;
                    reset();
                })
                .catch(error => console.error("Error al actualizar el leaderboard:", error));
            }

            setInterval(updateLeaderboard, 8000);
            reset();
        </script>        
    </body>
    </html>