<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, minimum-scale=0.6">
    <title>Secuenzo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="countdown-overlay">
        <label style="font-size: 50px; font-weight: bold; margin-right: 10px; color: #f9f9f9">Elegir modo</label>
        <div style="text-align:center;" class="botones">
            <button onclick="setBoardSize(6)" class="resolver azulito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Unicolor</button>
            <button onclick="setBoardSize(5)" class="resolver rojito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Bicolor</button>
        </div>
    </div>
    <div style="text-align:center;">
        <h1 id="title" style="font-size: 60px; font-weight: bold;">Memoria</h1>
    </div>
    <div style="text-align:center;">
        <h1 id="title_part" style="font-size: 30px; font-weight: bold; height: 40px;">¡Replica el patrón!</h1>
    </div>
    <div style="text-align:center; margin-bottom: 8px;">
    </div>
    <!-- Cronómetro -->
    <div style="text-align:center; margin: 20px;">
        <h1 id="timer" style="font-size: 24px; font-weight: bold;">00:00.00</h1>
    </div>
    <table id="matrix">
        <!-- JavaScript will generate the table here -->
    </table>
    <button onclick="location.href=`/menu?userID=${localStorage.getItem('userId')}`" class="resolver evaluar" style="margin-top: 20px;">Volver</button>
    <script>
        const savedTheme = localStorage.getItem("theme");
            if (savedTheme) {
                document.body.classList.remove("light-theme", "dark-theme");
                document.body.classList.add(savedTheme);
            }
        let matrixSize = 5; // Tamaño de la matriz
        let gamestarted = true;
        let gamefinished = false;
        let timerInterval;
        let centisecondsElapsed = 200;
        let boards_solved = 0;
        let matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
        let user_matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
    
        function startTimer() {
            clearInterval(timerInterval); // Reiniciar el cronómetro si ya estaba en marcha
            updateTimerDisplay();

            timerInterval = setInterval(() => {
                centisecondsElapsed--; // Incrementar en 10 ms
                if (centisecondsElapsed === 0) {
                    stopTimer();
                    if (gamefinished) {
                        document.getElementById("title_part").textContent = "¡Se acabó el tiempo!";
                        games = matrixSize === 5 ? 'mindgrid2' : 'mindgrid1';
                        fetch('/leaderboard/update', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                score: boards_solved,
                                userID: localStorage.getItem('userId'),
                                game: games
                            })
                        }).then(response => response.json())
                        .then(data => {
                            if (data.better) {
                                window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&better=si&board=${data.board}`;
                            } else {
                                window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&score=${data.score}&board=${data.board}`;
                            }
                        });
                    } else {
                        gamefinished = true;
                        centisecondsElapsed = 1000;
                        createTable();
                        startTimer();
                    }
                }
                updateTimerDisplay();
            }, 10); // Actualizar cada 10 ms (centésima de segundo)
        }

        function stopTimer() {
            clearInterval(timerInterval);
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const centiseconds = (centisecondsElapsed % 100).toString().padStart(2, '0').replace(/^0/, ''); // Remover ceros iniciales
            return { minutes, seconds, centiseconds, totalCentiseconds: centisecondsElapsed };
}

        function updateTimerDisplay() {
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const milliseconds = (centisecondsElapsed % 100).toString().padStart(2, '0');
            document.getElementById("timer").textContent = `${minutes}:${seconds}.${milliseconds}`;
        }

        function adjustLockSize() {
            const lockSizeClass = matrixSize <= 5 ? 'lock-size-40' :'lock-size-35';

            // Remover cualquier clase de tamaño de candado previo
            document.body.classList.remove('lock-size-40', 'lock-size-35');

            // Añadir la nueva clase según el tamaño
            document.body.classList.add(lockSizeClass);
        }
        
        function reset(){
            document.getElementById("timer").textContent = `00:00.00`;
            initial = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
            createTable(initial);
        }

        function adjustCellSize() {
            const cellSize = matrixSize <= 5 ? 100 : 80;
            const cellRadius = matrixSize <= 5 ? 25 :20;
            stopTimer();
            const cells = document.querySelectorAll('td');
            cells.forEach(cell => {
                cell.style.width = `${cellSize}px`;
                cell.style.height = `${cellSize}px`;
                cell.style.borderRadius = `${cellRadius}px`
            });

            adjustLockSize(); // Llamar para ajustar el tamaño del candado
        }

        function createTable() {
            const table = document.getElementById('matrix');
            table.innerHTML = ''; // Limpiar contenido de la tabla existente
            for (let i = 0; i < matrixSize; i++) {
                const row = document.createElement('tr');
                for (let j = 0; j < matrixSize; j++) {
                    const cell = document.createElement('td');
                    cell.className = 'grey';
                    cell.onclick = () => toggleColor(i, j, cell);
                    row.appendChild(cell);
                }
                table.appendChild(row);
            }
            adjustCellSize(); // Ajustar tamaño de las celdas y candados después de crear la tabla
        }

        function toggleColor(row, col, cell) {
            if (cell.classList.contains('locked')) {
                return; // Do nothing if the cell is blocked
            }
            if (matrix[row][col] === -1) {
                cell.className = 'lose';
                matrix[row][col] = 1;
                document.getElementById("title_part").textContent = "¡Sigue intentándolo!";
                stopTimer();
                let games = matrixSize === 5 ? 'mindgrid2' : 'mindgrid1';
                fetch('/leaderboard/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        score: boards_solved,
                        userID: localStorage.getItem('userId'),
                        game: games
                    })
                }).then(response => response.json())
                .then(data => {
                    if (data.better) {
                        window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&better=si&board=${data.board}`;
                    } else {
                        window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&score=${data.score}&board=${data.board}`;
                    }
                });
            } else if (user_matrix[row][col] === 0) {
                if (matrixSize === 5) {
                    user_matrix[row][col] = 1;
                    cell.className = 'blue'
                }
            } else {
                user_matrix[row][col] = 0;
                cell.className = 'red'
            }
            if (user_matrix.every((fila, i) => fila.every((val, j) => val === matrix[i][j]))){
                stopTimer();
                gamefinished = false;
                setTimeout(() => {
                    centisecondsElapsed = 200;
                    startTimer();
                    boards_solved++;
                    startGame();
                    acc = 0;
                }, 1000);
            }
        }

        function startGame() {
            fetch('/memory', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ cells: Math.floor(boards_solved / 2) , size:matrixSize}),
            })
            .then(response => response.json())
            .then(data => {
                const gameMatrix = data.matrix;
                const table = document.getElementById('matrix');
                matrix = gameMatrix.map(row => [...row]);
                user_matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
                for (let i = 0; i < gameMatrix.length; i++) {
                    for (let j = 0; j < gameMatrix[i].length; j++) {
                        const cell = table.rows[i].cells[j];
                        cell.className = gameMatrix[i][j] === 0 ? 'red blocked' :
                                         gameMatrix[i][j] === 1 ? 'blue blocked' :
                                          'grey locked';
                    }
                }
                if(gamestarted) {
                    gamestarted = false;
                    let overlay = document.getElementById('countdown-overlay');
                    let count = 2;
                    const countdownElement = document.getElementById("countdown");
                    countdownElement.style.fontSize = "50px"; 
                    countdownElement.textContent = "¡Recuerda el patrón!";

                    const countdownInterval = setInterval(() => {
                        count--;
                        countdownElement.style.fontSize = "120px"; 
                        countdownElement.textContent = "¡Adelante!";
                        if (count <= 0) {
                            clearInterval(countdownInterval);
                            overlay.style.display = "none"; // Ocultar overlay al terminar
                            startTimer(); // Iniciar el cronómetro después de la cuenta regresiva
                        }
                    }, 1000);
                }
                
            });
        }

        function setBoardSize(size) {
            let overlay = document.getElementById('countdown-overlay');
            matrixSize = size; // Asigna el tamaño seleccionado
            overlay.innerHTML = '<h1 id="countdown" style="font-size: 120px; color: #ffffff;"></h1>';
            if (matrixSize === 5) {
                document.getElementById("title").textContent = 'Bicolor';
            } else {
                document.getElementById("title").textContent = 'Unicolor';
            }
            reset(); // Genera el nuevo tablero
            startGame(); // Inicia la cuenta regresiva
        }
        createTable();
    </script>
</body>
</html>
