<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div style="text-align:center; margin: 20px;">
        <h1 id="title" style="font-size: 60px; font-weight: bold;">¡Hola, {{ nickname }}!</h1>
    </div>
    <div style="text-align:center;">
        <button onclick="toggleInfo()" class="resolver evaluar" style="margin-bottom: 10px; margin-left: 210px; padding: 15px 30px; font-size: 20px; border-radius: 12px; cursor: pointer;">Reglas</button>
        <div id="algorithm-info" style="text-align: left; margin-bottom: 10px; display: none; padding: 15px; border-radius: 8px;"></div>
        <div style="text-align:center;" class="botones">
            <button onclick="location.href='/0hh1'" class="resolver azulito">Oh-h1</button>
            <button onclick="location.href='/time_trial'" class="resolver rojito">Contrareloj 0h-h1</button>
        </div>
        <div style="text-align:center;" class="botones">
            <button onclick="location.href='/tutorial'" class="resolver rojito">Tutorial</button>
            <button onclick="location.href=`/leaderboards?userID=${localStorage.getItem('userId')}`" class="resolver azulito ">Ranking</button>
        </div>
        <div style="height: 40px;"></div>

        <h1 id="title" style="margin-top: 20px; font-size: 27px; font-weight: bold;">Ajustes</h1>

        <div style="text-align:center;" class="botones">
            <button id="theme-toggle" class="resolver azulito">Cambiar Tema</button>
            <button onclick="location.href = '/?ch=si'" class="resolver rojito">Cambiar nombre</button>
        </div>
    </div>
    <script>
        function toggleInfo() {
            const infoDiv = document.getElementById('algorithm-info');
            let description = `
            1. Todo el tablero debe estar lleno. <br>
            2. Cada fila y columna debe tener igual número de celdas de cada color. <br>
            3. No puede haber tres celdas consecutivas del mismo color. <br>
            4. No puede haber dos filas o columnas idénticas.`
            infoDiv.innerHTML = description;
            infoDiv.style.display = infoDiv.style.display === 'none' ? 'block' : 'none';
        }
        document.addEventListener("DOMContentLoaded", function () {
            const themeToggle = document.getElementById("theme-toggle");

            // Recuperar el tema guardado en localStorage (opcional)
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme) {
                document.body.classList.remove("light-theme", "dark-theme");
                document.body.classList.add(savedTheme);   
            }
            
            const div = document.getElementById("algorithm-info");

            if (savedTheme === "light-theme") {
                div.style.color = "#000000";
                div.style.border = "1px solid #121212";
            } else {
                div.style.color = "#ffffff";
                div.style.border = "1px solid #ccc";
            }

            themeToggle.addEventListener("click", function () {
                let currentTheme = document.body.classList.contains("dark-theme")
                    ? "dark-theme"
                    : document.body.classList.contains("light-theme")
                    ? "light-theme"
                    : "";

                let nextTheme = currentTheme === ""
                    ? "dark-theme"
                    : currentTheme === "dark-theme"
                    ? "light-theme"
                    : false;
                document.body.classList.remove("light-theme", "dark-theme");
                if (nextTheme) {
                    document.body.classList.add(nextTheme);
                    localStorage.setItem("theme", nextTheme);
                } else {
                    localStorage.removeItem("theme");
                }

                // Guardar el tema en localStorage
                const div = document.getElementById("algorithm-info");

            if (nextTheme === "light-theme") {
                div.style.color = "#000000";
                div.style.border = "1px solid #121212";
            } else {
                div.style.color = "#ffffff";
                div.style.border = "1px solid #ccc";
            }
            });
        });
        const savedTheme = localStorage.getItem("theme");  
        const div = document.getElementById("algorithm-info");

        if (savedTheme === "light-theme") {
            div.style.color = "#000000";
            div.style.border = "1px solid #121212";
        } else {
            div.style.color = "#ffffff";
            div.style.border = "1px solid #ccc";
        }
    </script>
</body>
</html>
