<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, minimum-scale=0.6">
    <title>Nerdle</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="countdown-overlay">
        <label style="font-size: 50px; font-weight: bold; margin-right: 10px; color: #f9f9f9">Elegir modo</label>
        <div style="text-align:center;" class="botones">
            <button onclick="setBoardSize(6)" class="resolver azulito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Mini-Nerdle</button>
            <button onclick="setBoardSize(8)" class="resolver rojito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Nerdle</button>
        </div>
        <div style="text-align:center;" class="botones">
            <button onclick="setBoardSize(10)" class="resolver rojito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Maxi-Nerdle</button>
        </div>
    </div>
    <div style="text-align:center;">
        <h1 id="title" style="font-size: 60px; font-weight: bold;">Nerdle</h1>
    </div>
    <div style="text-align:center;">
        <h1 id="title_part" style="font-size: 30px; font-weight: bold; height: 40px;"></h1>
    </div>
    <div style="text-align:center; margin-bottom: 8px;">
    </div>
    <!-- Cronómetro -->
    <div style="text-align:center; margin: 20px;">
        <h1 id="timer" style="font-size: 25px; font-weight: bold;">00:00.00</h1>
    </div>
    <div style="overflow-y: auto; max-height: 90vh;">
        <table id="matrix" style="border: 4px solid black;">
            <!-- JavaScript will generate the table here -->
        </table>
    </div>
    <div style="text-align:center; margin: 30px;">
    <table id="inputs">
        <!-- JavaScript will generate the inputs table here -->
    </table>
    </div>
    <div class="botones">
        <button onclick="location.href=`/menu?userID=${localStorage.getItem('userId')}`" class="resolver evaluar" style="margin-top: 20px;">Volver</button>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme) {
                document.body.classList.remove("light-theme", "dark-theme");
                document.body.classList.add(savedTheme);
            }
        });
        document.getElementById("title_part").textContent = '¡Adivina la igualdad!';
        let gamefinished = false;
        let matrixSize = 6; // Tamaño de la matriz
        let guesses = 0;
        let igualdad = ''
        const eliminar = "{{ url_for('static', filename='images/eliminar.png') }}";
        const borrar = "{{ url_for('static', filename='images/borrar.png') }}";
        const enter = "{{ url_for('static', filename='images/enter.png') }}";
        
        // Variables para el cronómetro
        let timerInterval;
        let centisecondsElapsed = 0;

    
        function startTimer() {
            clearInterval(timerInterval); // Reiniciar el cronómetro si ya estaba en marcha
            updateTimerDisplay();

            timerInterval = setInterval(() => {
                centisecondsElapsed++; // Incrementar en 10 ms
                updateTimerDisplay();
            }, 10); // Actualizar cada 10 ms (centésima de segundo)
        }

        function reset(){
            document.getElementById("timer").textContent = `00:00.00`;
            initial = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
            createTable(initial);
        }
        
        function stopTimer() {
            clearInterval(timerInterval);
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const centiseconds = (centisecondsElapsed % 100).toString().padStart(2, '0').replace(/^0/, ''); // Remover ceros iniciales
            return { minutes, seconds, centiseconds, totalCentiseconds: centisecondsElapsed };
}

        function updateTimerDisplay() {
            const minutes = Math.floor(centisecondsElapsed / 6000).toString().padStart(2, '0');
            const seconds = Math.floor((centisecondsElapsed % 6000) / 100).toString().padStart(2, '0');
            const milliseconds = (centisecondsElapsed % 100).toString().padStart(2, '0');
            document.getElementById("timer").textContent = `${minutes}:${seconds}.${milliseconds}`;
        }
        function adjustLockSize() {
            const lockSizeClass = matrixSize <= 4 ? 'lock-size-40' :
                                matrixSize <= 6 ? 'lock-size-35' :
                                matrixSize <= 8 ? 'lock-size-30' : 'lock-size-25';

            // Remover cualquier clase de tamaño de candado previo
            document.body.classList.remove('lock-size-40', 'lock-size-35', 'lock-size-30', 'lock-size-25');

            // Añadir la nueva clase según el tamaño
            document.body.classList.add(lockSizeClass);
        }
        

        function adjustCellSize() {
            const theme = localStorage.getItem("theme");
            const cellSize = matrixSize <= 4 ? 100 :
                            matrixSize <= 6 ? 80 :
                            matrixSize <= 8 ? 60 : 50;
            const cells = document.querySelectorAll('td');
            cells.forEach(cell => {
                cell.style.width = `${cellSize}px`;
                cell.style.height = `${cellSize}px`;
                if (theme === 'light-theme') {
                    cell.style.color = '#000000';
                }
            });

            adjustLockSize(); // Llamar para ajustar el tamaño del candado
        }

        function createTable() {
            const table = document.getElementById('matrix');
            table.innerHTML = ''; // Limpiar contenido de la tabla existente
            const row = document.createElement('tr');
            for (let j = 0; j < matrixSize; j++) {
                const cell = document.createElement('td');
                cell.className = 'grey'; // Clase inicial para todas las celdas
                row.appendChild(cell);
            }
            table.appendChild(row);

            const inputsTable = document.getElementById('inputs');
            inputsTable.innerHTML = ''; // Limpiar contenido de la tabla de inputs existente
            let values = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '+', '-', '*', '/', '='];
            for (let i = 0; i < 3; i++) {
                const row = document.createElement('tr');
                for (let j = 0; j < 6; j++) {
                    const cell = document.createElement('td');
                    cell.className = 'grey'; // Clase inicial para todas las celdas
                    if (j === 5) {
                        let invertion = localStorage.getItem('theme') === 'light-theme' ? 'invert(0)' : 'invert(1)';
                        if (i === 0) {
                            const img = document.createElement('img');
                            img.src = eliminar;
                            img.width = 40;
                            img.style.filter = invertion;
                            img.style.marginTop = '10px';
                            cell.appendChild(img);
                            cell.onclick = () => send("Eliminar");
                        } else if (i === 1) {
                            const img = document.createElement('img');
                            img.src = borrar;
                            img.width = 40;
                            img.style.filter = invertion;
                            img.style.marginTop = '10px';
                            cell.appendChild(img);
                            cell.onclick = () => send("Borrar");
                        } else {
                            const img = document.createElement('img');
                            img.src = enter;
                            img.width = 40;
                            img.style.filter = invertion;
                            img.style.marginTop = '10px';
                            cell.appendChild(img);
                            cell.onclick = () => send("Enviar");
                        } 
                    }
                    else {
                        cell.innerText = values[i * 5 + j];
                        cell.onclick = () => keyboard(cell.innerText);
                    }
                    row.appendChild(cell);
                }
                inputsTable.appendChild(row);
            }
            adjustCellSize(); // Ajustar tamaño de las celdas y candados después de crear la tabla
        }

        function send(value) {
            const table = document.getElementById('matrix');
            const inputsTable = document.getElementById('inputs');
            let intento = '';
            if (value === 'Enviar') {
                for (let j = 0; j < matrixSize; j++) {
                    const cell = table.rows[guesses].cells[j];
                    intento += cell.innerText;
                    }
                if (intento.length < matrixSize) {
                    document.getElementById("title_part").textContent = "Por favor, completa la fila.";
                    return;
                }
                fetch('/nerdle', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({intento:intento, igualdad:igualdad, n:matrixSize}),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    guesses++;
                    const vector = data.vector;
                    let count = 0
                    const countdownInterval = setInterval(() => {
                        table.rows[guesses-1].cells[count].className = vector[count] === 2 ? 'correct_place' :
                                                                         vector[count] === 1 ? 'correct_character' : 'nowhere'; // Cambiar a verde
                        let currentCell = table.rows[guesses-1].cells[count];
                        if (currentCell.className === 'correct_place') {
                            for (let i = 0; i < 3; i++) {
                                for (let j = 0; j < 5; j++) {
                                    if (inputsTable.rows[i].cells[j].innerText === currentCell.innerText) {
                                        inputsTable.rows[i].cells[j].className = 'correct_place'; // Cambiar a verde
                                    }
                                }
                            }
                        } else if (currentCell.className === 'correct_character') {
                            for (let i = 0; i < 3; i++) {
                                for (let j = 0; j < 5; j++) {
                                    if ((inputsTable.rows[i].cells[j].innerText === currentCell.innerText) && inputsTable.rows[i].cells[j].className !== 'correct_place') {
                                        inputsTable.rows[i].cells[j].className = 'correct_character'; // Cambiar a amarillo
                                    }
                                }
                            }
                        } else if (currentCell.className === 'nowhere') {
                            for (let i = 0; i < 3; i++) {
                                for (let j = 0; j < 5; j++) {
                                    if ((inputsTable.rows[i].cells[j].innerText === currentCell.innerText) && inputsTable.rows[i].cells[j].className !== 'correct_place' && inputsTable.rows[i].cells[j].className !== 'correct_character') {
                                        inputsTable.rows[i].cells[j].className = 'nowhere'; // Cambiar a gris
                                    }
                                }
                            }
                        }
                        count++;
                        if (count >= matrixSize) {
                            clearInterval(countdownInterval);
                            if (intento === igualdad) {
                                document.getElementById("title_part").textContent = "¡Felicidades, has ganado!";
                                gamefinish();
                            }
                            if (gamefinished) return;
                            const row = document.createElement('tr');
                            for (let j = 0; j < matrixSize; j++) {
                                const cell = document.createElement('td');
                                cell.className = 'grey'; // Clase inicial para todas las celdas
                                row.appendChild(cell);
                            }
                            table.appendChild(row);
                            adjustCellSize(); // Ajustar tamaño de las celdas y candados después de crear la tabla
                        }
                    }, 200);
                } else {
                    document.getElementById("title_part").textContent = "La igualdad no se cumple.";
                }
            });
            } else if (value === 'Borrar') {
                const table = document.getElementById('matrix');
                for (let j = 0; j < matrixSize; j++) {
                    const cell = table.rows[guesses].cells[matrixSize - j - 1];
                    if (cell.innerText !== '') {
                        cell.innerText = '';
                        break;
                    }
                }
            } else if (value === 'Eliminar') {
                const table = document.getElementById('matrix');
                for (let j = 0; j < matrixSize; j++) {
                    const cell = table.rows[guesses].cells[j];
                    cell.innerText = '';
                }
            }
        }

        function keyboard(value) {
            document.getElementById("title_part").textContent = "¡Adivina la igualdad!";
            const table = document.getElementById('matrix');
            for (let j = 0; j < matrixSize; j++) {
                const cell = table.rows[guesses].cells[j];
                if (cell.innerText === '') {
                    cell.innerText = value;
                    break;
                }
            }    
        }

        document.addEventListener('keydown', function(event) {
            const validKeys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '+', '-', '*', '/', '='];

            // Algunos teclados usan "Enter" para el igual
            if (event.key === 'Enter') {
                send("Enviar");
            } else if (event.key === 'Backspace') {
                send("Borrar");
            } else if (validKeys.includes(event.key)) {
                keyboard(event.key);
            }
        });

        function startGame() {
            fetch('/nerdle', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({intento:igualdad, igualdad:igualdad, n:matrixSize}),
            })
            .then(response => response.json())
            .then(data => {
                igualdad = data.igualdad;
                let overlay = document.getElementById('countdown-overlay');
                let count = 2;
                const countdownElement = document.getElementById("countdown");
                countdownElement.style.fontSize = "30px"; 
                countdownElement.style.textAlign = "center"; 
                countdownElement.textContent = "Adivina la igualdad";

                const countdownInterval = setInterval(() => {
                    count--;
                    countdownElement.style.fontSize = "120px"; 
                    countdownElement.textContent = "¡Adelante!";
                    if (count <= 0) {
                        clearInterval(countdownInterval);
                        overlay.style.display = "none"; // Ocultar overlay al terminar
                        startTimer(); // Iniciar el cronómetro
                    }
                }, 1800);
            });
        }

        function setBoardSize(size) {
            let overlay = document.getElementById('countdown-overlay');
            overlay.innerHTML = '<h1 id="countdown"; color: #ffffff;"></h1>';
            document.getElementById("title").textContent = `Nerdle`;
            document.getElementById("title_part").textContent = "¡Adivina la igualdad!";
            matrixSize = size; // Asigna el tamaño seleccionado
            reset();
            startGame(); // Inicia la cuenta regresiva
        }

        function gamefinish() {
            if (gamefinished) return;
            gamefinished = true;
            stopTimer();
            let tiempo = stopTimer(); // Detener el cronómetro si el jugador gana
            let puntaje = points(tiempo.totalCentiseconds/100,guesses);
            document.getElementById("title_part").textContent = "¡Felicidades, has ganado!";
            let game = matrixSize === 6 ? 'mini-nerdle' : matrixSize === 8 ? 'nerdle' : 'maxi-nerdle';
            setTimeout(() => {
            }, 500);
            fetch('/leaderboard/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    score: puntaje,
                    userID: localStorage.getItem('userId'),
                    game: game,
                })
            }).then(response => response.json())
            .then(data => {
                if (data.better) {
                    window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&better=si&board=${data.board}`;
                } else {
                    window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&score=${data.score}&board=${data.board}`;
                }
            });
        }

        function rint() {
           return Math.floor(Math.random() * 2);
        }

        function points(T,M) {
            return 100000.0/((T+1)*(M+1));
        }

        function all(matrix) {
            return matrix.every(row => row.every(cell => cell === 1));
        }
        createTable();
    </script>
</body>
</html>
