<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=0.6, minimum-scale=0.6">
    <title>Patrón Perfecto</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="countdown-overlay">
        <label style="font-size: 50px; font-weight: bold; margin-right: 10px; color: #f9f9f9">Elegir modo</label>
        <div style="text-align:center;" class="botones">
            <button onclick="setBoardSize(0)" class="resolver azulito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Progresivo</button>
            <button onclick="setBoardSize(1)" class="resolver rojito" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Aleatorio</button>
        </div>
    </div>
    <div style="text-align:center;">
        <h1 id="title" style="font-size: 60px; font-weight: bold;">Memoria</h1>
    </div>
    <div style="text-align:center;">
        <h1 id="title_part" style="font-size: 30px; font-weight: bold; height: 40px;">¡Replica el patrón!</h1>
    </div>
    <div style="text-align:center; margin-bottom: 8px;">
    </div>
    <div id="conteo" class="contenedor" style="margin-bottom: 20px;">
    </div>
    <table id="matrix">
        <!-- JavaScript will generate the table here -->
    </table>
    <div class="botones">
        <button data-url="/menu" class="resolver azulito" style="width: 75px;">
            <img id="home" src="{{ url_for('static', filename='images/home.png') }}" style="height: 37px;filter: brightness(0) invert(1);" alt="Inicio">
        </button>
        <button onclick="reset()" class="resolver azulito" style="width: 75px;">
            <img id="reload" src="{{ url_for('static', filename='images/reload.png') }}" style="height: 32px; filter: invert(1);" alt="Inicio">
        </button>
    </div>
    <audio id="sonido-boton" src="{{ url_for('static', filename='sounds/click.mp3') }}" preload="auto"></audio>
    <audio id="musica" preload="auto"></audio>
    <script>
        const savedTheme = localStorage.getItem("theme");
        const musica = document.getElementById("musica");
        const home = document.getElementById("home");
        const reload = document.getElementById("reload");

        document.addEventListener("DOMContentLoaded", function() {
            const sonido = document.getElementById("sonido-boton");
            const savedTheme = localStorage.getItem("theme");
            const numero = Math.floor(Math.random() * 10) + 1;
            musica.src = `/static/sounds/game_music_${numero}.mp3`;
            musica.loop = true;
            musica.volume = 0; // Ajusta el volumen de la música
            musica.play();
            if (savedTheme) {
                document.body.classList.remove("light-theme", "dark-theme");
                document.body.classList.add(savedTheme);
            }
            if (savedTheme === "light-theme") {
                reload.style.filter = "invert(0)";
                home.style.filter = "brightness(0)";
                color0 = "rojas";
                color1 = "azules";
                border = "rgb(0,0,0)"
            } else if (savedTheme === "dark-theme"){
                color0 = "amarillas";
                color1 = "azules";
                border = "rgb(255,255,255)"
            } else {
                color0 = "amarillas";
                color1 = "moradas";
                border = "rgb(255,255,255)"
            }
            let paso = 0;
                const fade = setInterval(() => {
                    paso++;

                    musica.volume = Math.min(0.36, paso * 0.02);     // fade out

                    if (paso >= 20) {
                        clearInterval(fade);
                    }
                }, 100);
            document.querySelectorAll(".resolver").forEach(boton => {
                boton.addEventListener("click", function (e) {
                    e.preventDefault(); // Detiene redirección inmediata
                    let url = this.getAttribute("data-url");

                    if (url === "/menu") {
                        url = `/menu?userID=${localStorage.getItem('userId')}`;
                    }
                    sonido.currentTime = 0;
                    sonido.volume = 0.2; // Ajustar el volumen del sonido del botón
                    sonido.play();
                    if (!url) return;

                    setTimeout(() => {
                        window.location.href = url;
                    }, 100); // Ajusta si el sonido es más largo
                });
            });
        });
        let matrixSize = 3; // Tamaño de la matriz
        let boards_solved = 0
        let mod = false;
        let game_played = 0; // 0 para progresivo, 1 para aleatorio
        let coords;
        let tiles;
        let gamestarted = true;
        let matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
        let user_matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));

        function adjustLockSize() {
            const lockSizeClass = matrixSize <= 5 ? 'lock-size-40' :'lock-size-35';

            // Remover cualquier clase de tamaño de candado previo
            document.body.classList.remove('lock-size-40', 'lock-size-35');

            // Añadir la nueva clase según el tamaño
            document.body.classList.add(lockSizeClass);
        }
        
        async function reset(){
            // Reiniciar todas las variables del juego
            boards_solved = 0;
            gamestarted = true;
            
            // Limpiar el localStorage
            localStorage.removeItem('Ubs');
            
            // Reiniciar la música
            musica.pause();
            const numero = Math.floor(Math.random() * 10) + 1;
            musica.src = `/static/sounds/game_music_${numero}.mp3`;
            musica.loop = true;
            musica.volume = 0;
            musica.play();
            
            // Fade in de la música
            let paso = 0;
            const fade = setInterval(() => {
                paso++;
                musica.volume = Math.min(0.36, paso * 0.02);
                if (paso >= 20) {
                    clearInterval(fade);
                }
            }, 100);

            let overlay = document.getElementById('countdown-overlay');
            overlay.style.display = "flex"; // Mostrar el overlay de reinicio
            setBoardSize(game_played); // Reiniciar el tamaño del tablero
            
            // Reiniciar el título
            document.getElementById("title").textContent = "Memoria";
            document.getElementById("title_part").textContent = "¡Replica el patrón!";
            
            // Limpiar el conteo
            document.getElementById("conteo").innerHTML = '';
            
            // Reiniciar las matrices
            matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
            user_matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
            
            // Recrear la tabla
            createTable();
        }

        function adjustCellSize() {
            const cellSize = matrixSize <= 5 ? 100 : 80;
            const cellRadius = matrixSize <= 5 ? 25 :20;
            const cells = document.querySelectorAll('td');
            cells.forEach(cell => {
                cell.style.width = `${cellSize}px`;
                cell.style.height = `${cellSize}px`;
                cell.style.borderRadius = `${cellRadius}px`
            });

            adjustLockSize(); // Llamar para ajustar el tamaño del candado
        }

        function createTable() {
            const table = document.getElementById('matrix');
            table.innerHTML = ''; // Limpiar contenido de la tabla existente
            for (let i = 0; i < matrixSize; i++) {
                const row = document.createElement('tr');
                for (let j = 0; j < matrixSize; j++) {
                    const cell = document.createElement('td');
                    cell.className = 'grey';
                    cell.onclick = () => toggleColor(i, j, cell);
                    row.appendChild(cell);
                }
                table.appendChild(row);
            }
            adjustCellSize(); // Ajustar tamaño de las celdas y candados después de crear la tabla
        }

        function toggleColor(row, col, cell) {
            if (cell.classList.contains('locked')) {
                return; // Do nothing if the cell is blocked
            }
            if (row.toString() === coords[0].toString() && col.toString() === coords[1].toString()) {
                const image = document.getElementById(`Imagen ${(tiles - coords.length)/2}`)
                coords = coords.slice(2);
                user_matrix[row][col] = matrix[row][col];
                highlightCellsSequentially([row,col],10);
                image.src = "{{ url_for('static', filename='images/bien.png') }}";
                if (savedTheme === "light-theme") {
                    image.style.filter = "none";
                } else {
                    image.style.filter = "invert(100%)";
                }
            } else {
                cell.className = 'lose';
                let info = mod? 'Progresivo':'Aleatorio'
                for (let index = 0; index < tiles/2; index++) {
                    const image = document.getElementById(`Imagen ${index}`)
                    image.src = "{{ url_for('static', filename='images/mal.png') }}";
                    image.style.filter = "none";
                }
                musica.currentTime = 0; // Reiniciar el sonido al inicio
                musica.pause(); // Pausar el sonido si la celda no es correcta
                musica.src = "{{ url_for('static', filename='sounds/lose_sound.mp3') }}"; // Cambiar a sonido de error
                musica.loop = false; // Asegurarse de que no se repita
                musica.volume = 0.1; // Ajustar el volumen del sonido de error
                musica.play(); // Reproducir el sonido de error
                let paso = 0;
                const fade = setInterval(() => {
                    paso++;

                    musica.volume = Math.max(0, 0.36 - paso * 0.02);     // fade out

                    if (paso >= 20) {
                        clearInterval(fade);
                        
                    }
                }, 100);
                fetch('/leaderboard/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        score: boards_solved,
                        userID: localStorage.getItem('userId'),
                        game: 'sequence',
                        mode: info
                    })
                }).then(response => response.json())
                .then(data => {
                    if (data.better) {
                        window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&better=si&board=${data.board}`;
                    } else {
                        window.location.href = `/leaderboard?userID=${localStorage.getItem('userId')}&score=${data.score}&board=${data.board}`;
                    }
                });
            }
            if (coords.length === 0) {
                boards_solved++;
                startGame();
            }
        }

        async function highlightCellsSequentially(coords,time) {
            const table = document.getElementById('matrix');
            for (let index = 0; index < coords.length; index+=2) {
                let row = coords[index];
                let col = coords[index+1];
                matrix[row][col] = index/2;
                const cell = table.rows[row].cells[col];
                cell.className = 'red';

                await new Promise(resolve => setTimeout(resolve, time)); // Espera antes de cambiar a gris
                cell.className = 'grey';

                await new Promise(resolve => setTimeout(resolve, time)); // Espera antes de la siguiente celda
            }
            createTable();
        }

        function startGame() {
            let ubs = JSON.parse(localStorage.getItem('Ubs'));
            fetch('/sequence', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ size: matrixSize, cells: boards_solved,mode:mod }),
            })
            .then(response => response.json())
            .then(async (data) => {
                if (!ubs) {
                    coords = data.places;
                    if (mod) {
                        localStorage.setItem('Ubs', JSON.stringify(coords));
                        ubs = JSON.parse(localStorage.getItem('Ubs'));
                        coords = ubs.slice(0,(boards_solved+3)*2);
                    }
                    tiles = coords.length
                    let conteo = document.getElementById("conteo");
                    conteo.innerHTML = '';
                    for (let index = 0; index < tiles/2; index++) {
                        conteo.innerHTML += `<img src="{{ url_for('static', filename='images/vacio.png') }}" id="Imagen ${index}" alt="Imagen ${index}" class="punto">`;
                    }
                    const table = document.getElementById('matrix');
                    matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
                    user_matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
                    
                    for (let i = 0; i < matrix.length; i++) {
                        for (let j = 0; j < matrix[i].length; j++) {
                            const cell = table.rows[i].cells[j];
                            cell.className = 'grey locked';
                        }
                    }

                    if (gamestarted) {
                        gamestarted = false;
                        let overlay = document.getElementById('countdown-overlay');
                        let count = 2;
                        const countdownElement = document.getElementById("countdown");
                        countdownElement.style.fontSize = "50px"; 
                        countdownElement.textContent = "¡Recuerda el patrón!";

                        const countdownInterval = setInterval(() => {
                            count--;
                            countdownElement.style.fontSize = "120px"; 
                            countdownElement.textContent = "¡Adelante!";
                            if (count <= 0) {
                                clearInterval(countdownInterval);
                                overlay.style.display = "none"; // Ocultar overlay al terminar
                            }
                        }, 1400);
                        await new Promise(resolve => setTimeout(resolve, 2100));
                    }
                    await new Promise(resolve => setTimeout(resolve, 1000));
                    highlightCellsSequentially(coords,200); // Llama a la función secuencialmente
                } else {
                    coords = ubs.slice(0,(boards_solved+3)*2);
                    tiles = coords.length
                    let conteo = document.getElementById("conteo");
                    conteo.innerHTML = '';
                    for (let index = 0; index < tiles/2; index++) {
                        conteo.innerHTML += `<img src="{{ url_for('static', filename='images/vacio.png') }}" id="Imagen ${index}" alt="Imagen ${index}" class="punto">`;
                    }
                    const table = document.getElementById('matrix');
                    matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
                    user_matrix = Array.from({ length: matrixSize }, () => Array(matrixSize).fill(-1));
                    for (let i = 0; i < matrix.length; i++) {
                        for (let j = 0; j < matrix[i].length; j++) {
                            const cell = table.rows[i].cells[j];
                            cell.className = 'grey locked';
                        }
                    }
                    await new Promise(resolve => setTimeout(resolve, 1000));
                    highlightCellsSequentially(coords,200); // Llama a la función secuencialmente
                }
            });
        }


        function setBoardSize(size) {
            game_played = size;
            localStorage.removeItem('Ubs');
            let overlay = document.getElementById('countdown-overlay');
            overlay.innerHTML = '<h1 id="countdown"; color: #ffffff;"></h1>';
            document.getElementById("title").textContent = size == 0 ? 'Progresivo':'Aleatorio';
            if (size === 0) {
                mod = true;
            }
            startGame(); // Inicia la cuenta regresiva
        }
        createTable();
    </script>
</body>
</html>